= form_for [:admin, @sticker], :html => { :enctype => "multipart/form-data" } do |f|
  - if @sticker.errors.any?
    #error_explanation
      h2 = "#{pluralize(@sticker.errors.count, "error")} prohibited this document from being saved:"
      ul
        - @sticker.errors.full_messages.each do |message|
          li = message

  fieldset.inputs
    ol
      li.string.input.required.stringish
        = f.label :sticker_type, "тип стикера", class: "label"
        = f.text_field :sticker_type, value: @sticker.sticker_type, required: true
      li.string.input.required.stringish
        = f.label :title, "заголовок", class: "label"
        = f.text_field :title, placeholder: 'заголовок', required: true
      li.string.input.required.stringish
        = f.label :text, "основной текст", class: "label"
        = f.text_area :text, placeholder: 'текст, не обязательно', required: true, style: "height: 100px;"
      li.string.input.required.stringish
        = f.label :color, "цвет стикера", class: "label"
        select name="sticker[color]"
          option style="background-color: #38c7ff; color: #000;" value="__blue" Голубой
          option style="background-color: #007fc5; color: #fff;" value="__dark-blue" тумно-голубой
          option style="background-color: #38ff48; color: #000" value="__green" зеленый
          option style="background-color: #1c8424; color: #fff;" value="__dark-green" темно-зеленый
          option style="background-color: #000000; color: #fff;" value="__black" черный
          option style="background-color: #d2d2d2; color: #000" value="__gray" серый
          option style="background-color: #7b7b7b; color: #fff;" value="__dark-gray" темно-серый

  .panel
    h3 выбор файлов
    .panel_contents
      = f.fields_for [:attachments, @sticker] do |a|
        ol
          li.string.input.required.stringish
            = a.label :attach, "файлы ", class: "label"
            = a.file_field :attach, name: "sticker[attachments_attributes][][attach]", multiple: true
            = a.hidden_field :attacheable_type, value: @sticker.class.name

  = f.submit