.parent-sticker
  .parent-sticker-sub
    strong Sticker Type
  .parent-sticker-sub
    = link_to sticker.title, [:admin, sticker]

.parent-sticker
  .parent-sticker-sub
    strong Title
  .parent-sticker-sub
    = sticker.title

.parent-sticker
  .parent-sticker-sub
    strong Text
  .parent-sticker-sub
    = sticker.text

.parent-sticker
  .parent-sticker-sub
    strong Color
  .parent-sticker-sub
    = sticker.color