= link_to "открыть", admin_attachment_path(attache)
/'  |
/= link_to "редактировать", edit_admin_attachment_path(attache)
'  |
= link_to "удалить", admin_attachment_path(attache), method: :delete, remote: true