= provide :title, " about / gallery"

.page_gallery
  .container
    .section-title О городе
    = render 'mockups/components/subnav'

  /Галерея
  .gallery-title
    .cm-heading-2.__small-margin-bottom.text-center Исторические фото Плёса
    .cm-subheading.text-center 137 фото
  = render 'mockups/components/gallery', root_classes: '__teaser-on-mobile', teaser_on_mobile: true
  .height-20
  .gallery-button
    = render 'mockups/components/button_center', root_classes: '__black', text: 'Смотреть все'
  .height-50

  /Еще галерея
  .gallery-title
    .cm-heading-2.__small-margin-bottom.text-center Плёс сегодня
    .cm-subheading.text-center 137 фото / 76 видео
  = render 'mockups/components/gallery', root_classes: '__teaser-on-mobile', teaser_on_mobile: true
  .height-20
  .gallery-button
    = render 'mockups/components/button_center', root_classes: '__black', text: 'Смотреть все'
  .height-50

  /События
  .cm-heading-2.__small-margin-bottom.text-center События
  .cm-subheading.text-center 137 фото / 12 видео
  .events
    - 3.times do
      article
        .left-block
          .date 20-21 мая
          .line
          .title Дачный фестиваль имени Шаляпина
          .line
          a.arrow href='#'
           span
        /Изображение - 500 в ширину
        span.image style='background-image: url("/frontend/desktop/source/img/gallery/1.jpg")'
        span.image style='background-image: url("/frontend/desktop/source/img/gallery/2.jpg")'
        span.image style='background-image: url("/frontend/desktop/source/img/gallery/3.jpg")'
  = render 'mockups/components/button_center', root_classes: '__black', text: 'Смотреть все'
  .height-50