.page_gov
  .container
    .section-title.__border-bottom.__small-bottom-margin.__small-on-mobile Администрация
    .subnav-component.__no-border
      span Совет
      a href='#' Администрация

    .description = lorem_ipsum 250

    .items
      - 20.times do
        article
          /120x120
          = image_tag '/frontend/desktop/build/img/people1.png'
          a.name href='#' Каримов Тимербулат Олегович
          .job Глава Плёса
          .line
          .phone +7 (3654) 50-36-36
          a href='mailto:karimov@mail.ru' karimov@mail.ru

    = render 'mockups/components/button_center', text: 'Есть вакансии', root_classes: '__black'
    .height-40