= provide :title, " about / history"
/История
.page_history
  .container
    .section-title О городе
    = render 'mockups/components/subnav'

    /Зелевый заголовок
    .cm-par-green = lorem_ipsum 50

    /Обычный текст
    .cm-par = lorem_ipsum 400
    .cm-par = lorem_ipsum 400
    .height-20

    /Врезка
    = render 'mockups/components/inset', no_date: true, root_classes: '__left-col-padding'

    /Обычный текст
    .cm-par = lorem_ipsum 800
    .cm-par = lorem_ipsum 800

    .height-30

    /Врезка с галереей
    .inset-with-gal
      .gallery
        - 5.times do
          /Ширина - 550. Размер должны быть одинаковые у картинок
          img src='http://placehold.it/400x200'

      .text-block
        .cm-par = lorem_ipsum 150
        .cm-heading-3 = lorem_ipsum 100
        .cm-par = lorem_ipsum 550

  /Галерея
  .cm-heading-2.__small-margin-bottom.text-center Исторические фото Плёса
  .cm-subheading.text-center 137 фото
  = render 'mockups/components/gallery'
  .height-20
  = render 'mockups/components/button_center', root_classes: '__black', text: 'Смотреть все'
  .height-40

  /История
  .history
    .container
      p.cm-par = lorem_ipsum 400
      p.cm-par = lorem_ipsum 400

