= provide :title, " all"
ul.cm-list style='width: 300px; margin: 3em auto;'
  li: a href='/mockups/afisha' Афиша
  li: a href='/mockups/docs' Документы
  li: a href='/mockups/gallery' Галерея - список
  li: a href='/mockups/gallery_one' Галерея - одна галерея
  li: a href='/mockups/history' История
  li: a href='/mockups/' Главная
  li: a href='/mockups/message' Обратная связь
  li: a href='/mockups/navigator' Навигатор
  li: a href='/mockups/news' Новости - список
  li: a href='/mockups/news_one' Новости - одна новость
  li: a href='/mockups/official' Официально
  li: a href='/mockups/people' Почетные граждане Плеса
  li: a href='/mockups/symbols' Символика
  li: a href='/mockups/gov' Власть
  li: a href='/mockups/text_page' Текстовая страница