= provide :title, " official / index"

.page_official
  .container
    .section-title Официально
    .blocks
      /Электронная приемная
      a.item.__light-blue href='#'
        .title Электронна приемная
        .description = lorem_ipsum 50
        .icon-right
          span Гражданам
          i
      /Документы
      a.item.__dark-green href='#'
        .title Документы
        .description = lorem_ipsum 50
        .icon-left
          span 2523 файла
      /Статистика
      a.item.__grey href='#'
        .title Статистика
        .description = lorem_ipsum 50
        .icon-left
          span 2523 файла
      /Почетные граждане Плёса
      a.item.__dark-blue href='#'
        .title Почетные граждане Плёса
        .man
          /100x100
          = image_tag '/frontend/desktop/source/img/man.png'
          .man-title Петр Аркадьевич Иванов
          .man-job Глава Плёса 1983-1987
      /Проверяющим организациям
      a.item.__light-green href='#'
        .title Проверяющим организациям
        .description = lorem_ipsum 50
        .icon-right
          span Войти в меню
          i
      /Противодействие коррупции
      a.item.__dark-grey href='#'
        .title Противодействие коррупции
        .description = lorem_ipsum 50
        .icon-left
          span 2523 файла
      /Внешние связи города
      a.item.__black href='#'
        .title Внешние связи города
        .description = lorem_ipsum 140
      /Оценка воздействия
      a.item.__blue href='#'
        .title = lorem_ipsum 65
        .description = lorem_ipsum 30
      /Электронная приемная
      a.item.__green href='#'
        .title Вакансии
        .description = lorem_ipsum 40
        .icon-left.__vacancy
          span 18 вакансий