= provide :title, " official / people"

.page_people
  .container
    .section-title.__border-bottom Официально
    .cm-heading-2.text-center Почетные граждане Плёса
    .height-20

    .people
      - 7.times do
        article
          /200x200
          = image_tag '/frontend/desktop/build/img/people1.png'
          .name Каримов Тимербулат Олегович
          .job Глава Плёса с 1827 по 1856
          .line
          a href='#' Биография