= provide :title, " about / symbols"

.page_symbols
  .container
    .section-title О городе
    = render 'mockups/components/subnav'

    .cm-heading-2.text-center Официальная символика
    .symbols
      - 3.times do |num|
        article
          /225 в ширину
          = image_tag "/frontend/desktop/build/img/symbols/#{num + 1}.png"
          .text-block
            .cm-heading-3 Герб Ивановской области
            .meta
              span
                em Дата принятия
                br
                i 31 декабря 1997 года
              span
                em Номер в геральдическом реестре РФ
                br
                i 286
            p.cm-par = lorem_ipsum 400
            .subheading Обоснование символики
            p.cm-par = lorem_ipsum 400
            .subheading Авторская группа
            p.author = lorem_ipsum 70
            p.author = lorem_ipsum 70


  .gallery-container
    .container
      .cm-heading-2.text-center Городская символика
      .gallery
        - 3.times do |num|
          .slide
            = image_tag "/frontend/desktop/source/img/symbols/slide_#{num + 1}.svg", class: 'heart', width: 300
            .height-30
            = image_tag '/frontend/desktop/source/img/symbols/we_love_ples.svg', class: 'text', width: 550


