/Текстовая страница
.page_news_one
  .container
    .section-title.__border-bottom Заголовок страница
    /Текстовое Содержимое
    .cm-par
      p = lorem_ipsum 400
      p = lorem_ipsum 400
      p Форматирование
      /Пример форматирования текста
      p
        b> жирный текст
        strong> жирный
        em> курсив
        i> курсив
        a> href='#' ссылка
      p Пример картинки
      /Пример картинки
      p
        img src='http://www.winebutik.net/assets/images/26.09.2011/55555/edf82753-666e-403f-8b2a-af5cd0bbc2c8.jpg'
      p = lorem_ipsum 400

    .height-20