ruby:
  # бекграунд может ставится на внешний или внутренний блок
  # по-умолчанию ставится на внутренний, но на на странице Афиша нужно ставить на
  # внешний из-за бага в сафари
  # размер изображения - 500 в ширину
  if defined? bg_on_outer
    #item_bg = "background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(#{asset_path('affiche1.jpg')})"

    if !poster.nil? and !poster.attachments.nil? and !poster.attachments.first.nil? and !poster.attachments.first.attach.nil?
      item_bg = poster.nil? ? "background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(#{asset_path('affiche1.jpg')})" : "background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(#{poster.attachments.first.attach.url(:afishe_one)})"
    else
      item_bg = "background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(#{asset_path('affiche1.jpg')})"
    end
    inner_bg = ''
  else
    item_bg = ''
    if !poster.nil? and !poster.attachments.nil? and !poster.attachments.first.nil? and !poster.attachments.first.attach.nil?
      inner_bg = poster.nil? ? "background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(#{asset_path('affiche1.jpg')})" : "background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(#{poster.attachments.first.attach.url(:afishe_one)})"
    else
      inner_bg = "background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(#{asset_path('affiche1.jpg')})"
    end
  end

.affiche-item style=item_bg
  .affiche-item-inner style=inner_bg
    .affiche-item-info
      - unless poster.nil?
        .affiche-item-date = poster.date
        .affiche-item-time = poster.time
        .affiche-item-title = poster.title
        a.affiche-item-arrow href='#{poster_path(poster)}' &rarr;
      - else
        .affiche-item-date 27 декабря
        .affiche-item-time 19:0
        .affiche-item-title = lorem_ipsum rand 200
        a.affiche-item-arrow href='#' &rarr;