section.affiche-section
  .container
    .section-title.__white Афиша
    .affiche-list.section-slider.js-affiche-slider
      - unless @posters_index.nil?
        - @posters_index.each do |poster|
          = render 'templates/partials/affiche_item', poster: poster
      - else
        - 6.times do
          = render 'templates/partials/affiche_item', poster: nil
    .text-center
      a.section-more-btn href='#{posters_path}'
        span Все события