section.news-section
  .container
    .section-title Новости
    .news-list.section-slider.js-news-slider
      - if @news_all.any?
        = render partial: 'contents/news/news_item', collection: @news_all, as: :news
      - else
        = render 'mockups/components/news_item', num: 12