= title(:app)
ul.cm-list style='width: 300px; margin: 3em auto;'
  li: a href='/afisha' Афиша
  li: a href='/docs' Документы
  li: a href='/gallery' Галерея - список
  li: a href='/gallery_one' Галерея - одна галерея
  li: a href='/history' История
  li: a href='/' Главная
  li: a href='/message' Обратная связь
  li: a href='/navigator' Навигатор
  li: a href='/news' Новости - список
  li: a href='/news_one' Новости - одна новость
  li: a href='/official' Официально
  li: a href='/people' Почетные граждане Плеса
  li: a href='/symbols' Символика