/Верхний блок
.top-section
  .container
    .top-section-content
      .top-section-image
        = image_tag 'photo.png'
      .top-section-column
        .title
          = provide :title, "Тимербулат Каримов"
        .subtitle Председатель Совета Плёсского городского поселения
        p Приветствую вас на официальном сайте Плёсского городского поселения.
        p Плёс - уникальный город. С первого взгляда он очаровывает своей самобытной красотой. Здесь городская среда органично вписывается в ландшафт, создавая особый уют. Именно он покорил многих российских художников и деятелей культуры. Пейзажи, вдохновившие великого Исаака Левитана, как и прежде хранят скромную, трепетную красоту русской природы.
        p При этом наш город стремительно развивается. Здесь проходит все больше культурных, спортивных, общественных мероприятий, появляются новые выставочные площадки, восстанавливаются и реконструируются уникальные здания и общественные пространства. Круглый год город предоставляет высокий уровень комфорта своим жителям и гостям.
        p Всегда рад видеть вас в Плёсе.
        
/Новости
= render 'templates/partials/news'
/Афиша
= render 'templates/partials/affiche'

/Карта
section.map-section
  .tabs
    span.__active data-target='.residents' Жителям
    span data-target='.guests' Гостям
    /Дизайнер говорил, что нужно выводить пункты Жителям: ЖКХ-Экология, а Гостям: Где остановится - Что посмотреть
  .tabs-content
    .item.__active.residents
      = render 'mockups/components/map'
    .item.guests
      = render 'mockups/components/map'

/Галерея
= render 'mockups/components/gallery', root_classes: '__teaser-on-mobile', teaser_on_mobile: true

/История
= render 'mockups/partials/history'

/Власть
section.governance-section
  .container
    .section-title Власть
    .section-tabs.js-tabs.__js-with-slider
      .section-tabs-controls.__small-text.js-tabs-controls
        .section-tabs-controls-item.__active data-id="1" Совет
        .section-tabs-controls-item data-id="2" Администрация
      .section-tabs-contents.js-tabs-contents
      
        .section-tabs-contents-inner.__active data-id="1"
          .section-subtext Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          
          .section-slider.js-governance-slider
            - 12.times do |i|
              .governance-item
                .governance-item-inner
                  .governance-item-image
                    /120х120
                    = image_tag("governance/governance#{i%6 + 1}.png")
                  a.governance-item-title href='#' Каримов Тимербулат Олегович
                
        .section-tabs-contents-inner data-id="2"
          .section-subtext Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          
          .section-slider.js-governance-slider
            - 12.times do |i|
              .governance-item
                .governance-item-inner
                  .governance-item-image
                    /120х120
                    = image_tag("governance/governance#{6 - i%6}.png")
                  a.governance-item-title href='#' Каримов Тимербулат Олегович
                
    .text-center
      a.section-more-btn.__black href='#' 
        span Подробнее
