= provide :title, " news / index"

/Новости
.container
  .section-title Новости
  = render 'templates/components/params'

  .news-item-container
    = render 'templates/components/news_item', num: 12
  = render 'templates/components/more'


.page_afisha
  .container
    .section-title Жизнь города
    .subnav-component
      span Афиша
      a href='#' Жителям
      a href='#' Гостям
    .dropdowns
      = render 'templates/components/dropdown_month'
      = render 'templates/components/dropdown_year'

    .afisha
      - unless @posters_block.nil?
        - @posters_block.each do |poster| do
          = render 'templates/partials/affiche_item', poster: poster, bg_on_outer: true
        .affiche-item.prev-next
          a.prev href='#'
            span Сентябрь
            i
          a.next href='#'
            span Ноябрь
            i
      - else
        - 6.times do
          = render 'templates/partials/affiche_item', poster: nil, bg_on_outer: true
        .affiche-item.prev-next
          a.prev href='#'
            span Сентябрь
            i
          a.next href='#'
            span Ноябрь
            i