= form_for @message_context do |f|
  - if @message_context.errors.any?
    #error_explanation
      h2 = "#{pluralize(@message_context.errors.count, "error")} prohibited this message_context from being saved:"
      ul
        - @message_context.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_field :text
  .actions = f.submit
