h1 Listing message_contexts

table
  thead
    tr
      th Title
      th Text
      th
      th
      th

  tbody
    - @message_contexts.each do |message_context|
      tr
        td = message_context.title
        td = message_context.text
        td = link_to 'Show', message_context
        td = link_to 'Edit', edit_message_context_path(message_context)
        td = link_to 'Destroy', message_context, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Message context', new_message_context_path
