p#notice = notice

p
  strong Title:
  = @message_context.title
p
  strong Text:
  = @message_context.text

= link_to 'Edit', edit_message_context_path(@message_context)
'|
= link_to 'Back', message_contexts_path
