= form_for [:admin, @external_contact], :html => { :enctype => "multipart/form-data" } do |f|
  - if @external_contact.errors.any?
    #error_explanation
      h2 = "#{pluralize(@external_contact.errors.count, "error")} prohibited this document from being saved:"
      ul
        - @external_contact.errors.full_messages.each do |message|
          li = message

  /= f.hidden_field :ancestry, velue: @external_contact.ancestry
  = f.hidden_field :ancestry
  = f.hidden_field :parent_id
  fieldset.inputs
    ol
      li.string.input.required.stringish
        = f.label :title, "заголовок", class: "label"
        = f.text_field :title, placeholder: 'заголовок', required: true
      li.string.input.required.stringish
        = f.label :text, "основной текст", class: "label"
        = f.text_area :text, placeholder: 'текст, не обязательно', required: true, style: "height: 100px;"

  .panel
    h3 выбор файлов
    .panel_contents
      = f.fields_for [:attachments, @external_contact] do |a|
        ol
          li.string.input.required.stringish
            = a.label :attach, "файлы ", class: "label"
            = a.file_field :attach, name: "external_contact[attachments_attributes][][attach]", multiple: true
            = a.hidden_field :attacheable_type, value: @external_contact.class.name

  = f.submit