.index_as_table
  table id="index_table_external_contacts" class="index_table index" paginator="true" cellspacing="0" cellpadding="0" border="0"
    thead
      tr
        th class="col col-title" заголовок
        th class="col col-actions" функции

    tbody
      - @external_contact.children.each do |c|
        tr class="odd" id="external_contact_#{c.id}"
          td class="col col-title"
            = link_to c.title, [:admin, c], class: "view_link member_link"
          td class="col col-actions"
            .table_actions
              = link_to "открыть",       [:admin, c], class: "view_link member_link"
              = link_to "редактировать", edit_admin_external_contact_path(c), class: "edit_link member_link"
              = link_to "удалить",       admin_external_contact_path(c), class: "delete_link member_link", confirm: "Вы уверены, что хотите удалить это?", method: :delete