= form_for @statistic do |f|
  - if @statistic.errors.any?
    #error_explanation
      h2 = "#{pluralize(@statistic.errors.count, "error")} prohibited this statistic from being saved:"
      ul
        - @statistic.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_field :text
  .actions = f.submit
