h1 Listing statistics

table
  thead
    tr
      th Title
      th Text
      th
      th
      th

  tbody
    - @statistics.each do |statistic|
      tr
        td = statistic.title
        td = statistic.text
        td = link_to 'Show', statistic
        td = link_to 'Edit', edit_statistic_path(statistic)
        td = link_to 'Destroy', statistic, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Statistic', new_statistic_path
