= provide :title, " official / message"

.page_message
  .container
    .section-title.__border-bottom Официально
    .cm-heading-2.text-center Электронная приемная
    /Форма отправляется аяксом, фронт в ответ ожидает просто статус 200
    = form_for @message, html: { class: "message" } do |f|
      - if @message.errors.any?
        div id="error_explanation"
          h2 = "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
          ul
            - @message.errors.full_messages.each do |message|
              li = message
      .text-center
        /Это дропдаун, который работает как селект
          в скрытое поле будет подставлено значение атрибута
          data-value выбранного пункта
        .dropdown-component.__select
          .ct-dc-trigger
            span Транспорт
            i
            = f.hidden_field :context, value: ""
          ul
            - @contexts.each do |context|
              li data-value="#{context.id}"
                a href='#' = context.title
      .height-30
      .inputs
        = f.text_field :name, placeholder: 'Как Вас зовут', required: true
        = f.text_field :phone, type: 'tel', placeholder: 'Ваш телефон'
        = f.text_field :email, type: 'email', placeholder: 'Ваш email'
      = f.text_area :message, placeholder: 'Текст обращения', required: true

      .text-center
        button.section-more-btn.__black type='submit'
          span Отправить обращение
    .thanx.cm-par-green Спасибо, Ваше сообщение отправлено.
