h1 Listing messages

table
  thead
    tr
      th Email
      th Phone
      th Name
      th Type
      th Context
      th Message
      th
      th
      th

  tbody
    - @messages.each do |message|
      tr
        td = message.email
        td = message.phone
        td = message.name
        td = message.type
        td = message.context
        td = message.message
        td = link_to 'Show', message
        td = link_to 'Edit', edit_message_path(message)
        td = link_to 'Destroy', message, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Message', new_message_path
