p#notice = notice

p
  strong Email:
  = @message.email
p
  strong Phone:
  = @message.phone
p
  strong Name:
  = @message.name
p
  strong Type:
  = @message.type
p
  strong Context:
  = @message.context
p
  strong Message:
  = @message.message

= link_to 'Edit', edit_message_path(@message)
'|
= link_to 'Back', messages_path
