= form_for @gallery do |f|
  - if @gallery.errors.any?
    #error_explanation
      h2 = "#{pluralize(@gallery.errors.count, "error")} prohibited this gallery from being saved:"
      ul
        - @gallery.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_field :text
  .actions = f.submit
