- if controller.action_name == "new"
  - @vacancy = Vacancy.new
  = render partial: "form_new"
- if controller.action_name == "edit"
  - @vacancy = Vacancy.find(params[:id])
  = render partial: "form_edit"