= form_for @sub_menu_item do |f|
  - if @sub_menu_item.errors.any?
    #error_explanation
      h2 = "#{pluralize(@sub_menu_item.errors.count, "error")} prohibited this sub_menu_item from being saved:"
      ul
        - @sub_menu_item.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :menu_item_id
    = f.number_field :menu_item_id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :title
    = f.text_field :title
  .actions = f.submit
