h1 Listing sub_menu_items

table
  thead
    tr
      th Menu item
      th Name
      th Title
      th
      th
      th

  tbody
    - @sub_menu_items.each do |sub_menu_item|
      tr
        td = sub_menu_item.menu_item_id
        td = sub_menu_item.name
        td = sub_menu_item.title
        td = link_to 'Show', sub_menu_item
        td = link_to 'Edit', edit_sub_menu_item_path(sub_menu_item)
        td = link_to 'Destroy', sub_menu_item, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Sub menu item', new_sub_menu_item_path
