p#notice = notice

p
  strong Menu item:
  = @sub_menu_item.menu_item_id
p
  strong Name:
  = @sub_menu_item.name
p
  strong Title:
  = @sub_menu_item.title

= link_to 'Edit', edit_sub_menu_item_path(@sub_menu_item)
'|
= link_to 'Back', sub_menu_items_path
