= form_for @external_contact do |f|
  - if @external_contact.errors.any?
    #error_explanation
      h2 = "#{pluralize(@external_contact.errors.count, "error")} prohibited this external_contact from being saved:"
      ul
        - @external_contact.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :text
    = f.text_field :text
  .actions = f.submit
