/В компонент при рендеринге могут передаться переменные
  В данном случаи может передаваться переменная root_classes
  для намешивания классов-модификаторов на рутовый элемент компонента
ruby:
  unless defined? root_classes
    root_classes = ''
  end

.inset-component class=root_classes
  .ct-left
    - unless @external_contacts.title.nil?
      .ct-title = @external_contacts.title
    - else
      .ct-title = lorem_ipsum 50
    /- unless defined? no_date
      .ct-date = time_ago_in_words @external_contacts.updated_at


  /Ширина - 550
  - unless @external_contacts.attachments.nil?
    = image_tag @external_contacts.attachments.first.attach.url(:afishe_one), class: "ct-image"
  - else
    img.ct-image src='http://placehold.it/550x350'