/= nested_topmenu @top_menu.arrange(:order => :created_at)
= provide :title, " ples / external contacts"
/= @external_contacts.title
/Отдельная новость
.page_news_one
  .container
    .section-title.__border-bottom Внешний связи города
    /Врезка
    = render 'inset'

    - unless @external_contacts.text.nil?
      p.cm-par = @external_contacts.text
    - else
      /Текст
      - 2.times do
        p.cm-par = lorem_ipsum 400