p#notice = notice

p
  strong Name:
  = @external_contact.name
p
  strong Text:
  = @external_contact.text

= link_to 'Edit', edit_external_contact_path(@external_contact)
'|
= link_to 'Back', external_contacts_path
