= form_for [:admin, @news], :html => { :enctype => "multipart/form-data" } do |f|
  = f.hidden_field :author_id, value: current_user.id
  fieldset.inputs
    ol
      li.string.input.required.stringish
        = f.label :tag, "тэг", class: "label"
        = f.text_field :tag, placeholder: 'тэг', required: true
      li.string.input.required.stringish
        = f.label :title, "заголовок", class: "label"
        = f.text_field :title, placeholder: 'заголовок', required: true
      li.string.input.required.stringish
        = f.label :text, "основной текст", class: "label"
        = f.text_area :text, placeholder: 'основной текст', required: true, style: "height: 100px;"
      li.string.input.required.stringish
        = f.label :grey_block, "вставка", class: "label"
        = f.text_area :grey_block, placeholder: 'вставка', required: true, style: "height: 100px;"
      li.string.input.required.stringish
        = f.label :description, "описание", class: "label"
        = f.text_area :description, placeholder: 'описание', required: true, style: "height: 100px;"

  .panel
    h3 выбор файлов
    .panel_contents
      = f.fields_for [:attachments, @news] do |a|
        ol
          li.string.input.required.stringish
            = a.label :attach, "файлы ", class: "label"
            = a.file_field :attach, name: "news[attachments_attributes][][attach]", multiple: true
            = a.hidden_field :attacheable_type, value: @news.class.name

  = f.submit