- if controller.action_name == "new"
  - @poster = Poster.new
  = render partial: "form_new"
- if controller.action_name == "edit"
  - @poster = Poster.find(params[:id])
  = render partial: "form_edit"