= form_for [:admin, @poster], :html => { :enctype => "multipart/form-data" } do |f|
  = f.hidden_field :author_id, value: current_user.id
  fieldset.inputs
    ol
      li.string.input.required.stringish
        = f.label :title, "заголовок", class: "label"
        = f.text_field :title, placeholder: 'заголовок', required: true
      li.string.input.required.stringish
        = f.label :for_date, "отображать до", class: "label"
        = f.text_field :for_date, as: :datepicker, placeholder: 'показывать до, в формате гггг-мм-дд', class: "datepicker", "data-datepicker-options" => "{}", required: true
      li.string.input.required.stringish
        = f.label :date, "дата начала", class: "label"
        = f.text_field :date, placeholder: 'дата начала', required: true
      li.string.input.required.stringish
        = f.label :time, "время начала", class: "label"
        = f.text_field :time, placeholder: 'время начала', required: true
      li.string.input.required.stringish
        = f.label :text, "основной текст", class: "label"
        = f.text_area :text, placeholder: 'основной текст', required: true, style: "height: 100px;"
      li.string.input.required.stringish
        = f.label :description, "описание", class: "label"
        = f.text_area :description, placeholder: 'описание', required: true, style: "height: 100px;"
      li.string.input.required.stringish
        = f.label :grey_block, "текстовый блок", class: "label"
        = f.text_area :grey_block, placeholder: 'текстовый блок', required: true, style: "height: 100px;"

  .panel
    h3 выбор файлов
    .panel_contents
      = f.fields_for [:attachments, @poster] do |a|
        ol
          li.string.input.required.stringish
            = a.label :attach, "файлы ", class: "label"
            = a.file_field :attach, name: "poster[attachments_attributes][][attach]", multiple: true
            = a.hidden_field :attacheable_type, value: @poster.class.name

  = f.submit