header.header
  .container-landing
    .content.clearfix
      .contact-us-btn.js-move-to data-target="contact-us" Свяжитесь с нами
      .title Администрация Плёсского городского поселения
      .flag
      .cloud1
      .cloud2
      .text-panel Сайт на реконструкции
    .move-to.js-move-to data-target="greeting"

  .container-landing.no-pad
    section.greeting
      .text-panel
        = image_tag "landing/photo.jpg"
        .text
          p Приветствую вас на временном сайте Администрации Плёсского городского поселения. Вскоре на этом месте появится городской портал, где можно будет найти всю необходимую информацию.
          p Пока скажу пару слов о Плёсе – поистине уникальном городе. С первого взгляда он очаровывает своей самобытной красотой. Здесь городская среда органично вписывается в ландшафт, создавая особый уют. Именно он покорил многих российских художников и деятелей культуры. Пейзажи, вдохновившие великого Исаака Левитана, как и прежде хранят скромную, трепетную красоту русской природы.
          p При этом город стремительно развивается. Здесь проходит все больше культурных, спортивных, общественных мероприятий, появляются новые выставочные площадки, восстанавливаются и реконструируются уникальные здания и общественные пространства. Круглый год город предоставляет высокий уровень комфорта своим жителям и гостям.
          p Всегда рад видеть вас в Плёсе.
          p
            'Всю информацию в соответствии с федеральным законом N 8-ФЗ "Об обеспечении доступа к информации о деятельности государственных органов и органов местного самоуправления" можно найти на
            = link_to ' старой версии сайта.', 'http://old.gorodples.ru', target: :blank
          p Если у вас есть вопросы или предложения, воспользуйтесь формой обратной связи в конце страницы.
        .sign
          .name Тимербулат Каримов
          .position Председатель Совета Плёсского городского поселения
    .move-to.js-move-to data-target="contact-us"

section.contact-us
  .container-landing
    .title Свяжитесь с нами
    .form-container
      .flash-box
        - if flash[:recaptcha_error].present?
          .error = flash[:recaptcha_error]
        - if flash[:success].present?
          .success = flash[:success]
      = form_tag feedback_index_path do
        = text_field_tag :name, nil, class: 'half-width', placeholder: 'Имя'
        = text_field_tag :surname, nil, class: 'half-width', placeholder: 'Фамилия'
        = email_field_tag :email, nil, placeholder: 'Email адрес'
        = text_area_tag :message, nil, placeholder: 'Ваше обращение'
        //= ''#recaptcha_tags
        input.submit type="submit" value="Отправить"
  .contacts
    .cols.clearfix
      .col
        span 155555, Ивановская область, Приволжский район, город Плёс, улица Советская, дом 9
      .col
        span
          | телефон:
          a href="tel:+74933921314" +7 493 39 2 13 14
        br
        span
          | факс:
          a href="fax:+74933921314" +7 493 39 2 13 14
        br
        span
          a href="mailto:info@gorodples.ru" info@gorodples.ru
        span

footer.footer
  .container-landing
    .socials
      a.icon.fb href="https://www.facebook.com/ples.official/" target="_blank"
      a.icon.vk href="https://vk.com/ples_official" target="_blank"
      a.icon.inst href="https://www.instagram.com/gorodples/" target="_blank"
    br

    .move-to.js-move-to data-target="header" В начало
