.footer
  background-color: #0b94d6
  padding: 30px 0 10px
  color: white
  font-family: 'Roboto'
  font-size: 14px

  &-inner
    display: flex
    flex-flow: row wrap
    justify-content: space-between

  &-column
    margin-bottom: 20px
    span
      display: block

  .to-top-icon
    display: inline-block
    width: 40px
    height: 40px
    background-image: image-url('to-top-arrow.png')
    cursor: pointer
    margin-right: 15px

  .inline-block
    display: inline-block
    position: relative
    top: -6px
