.fullnav
  position: absolute
  left: 0
  top: 0
  width: 100%
  padding: 74px 0 50px 0
  background: rgba(black, .92)
  z-index: 110
  display: none

  .close
    display: inline-block
    position: absolute
    right: 0
    top: 0
    @extend .icon-close
    cursor: pointer

  .logo
    float: left
    position: relative
    height: 115px
    display: block
    margin-bottom: 60px
    .logo-icon
      display: inline-block
      position: absolute
      left: 0
      top: 0
      width: 110px
      height: 115px
      background-image: image-url('logo.svg')
      background-repeat: no-repeat
      background-size: contain
    .logo-text
      font-family: $font-family-second
      display: inline-block
      font-size: 24px
      max-width: 250px
      position: relative
      top: 14px
      margin-left: 140px
      color: white

  .social
    float: right
    margin-top: 17px

  .col
    float: left
    width: 30%
    margin-right: 5%
    color: white
    a
      color: white
      text-decoration: none
      border-bottom: 1px solid white
      &:hover
        border-bottom-color: transparent
    &:first-of-type
      padding-left: 1em
    &:last-of-type
      margin-right: 0

    .title-1
      font-family: $font-family-second
      font-size: 2.1em
      margin-bottom: .8em

    .title-2
      font-size: 1.3em
      position: relative
      padding-left: 1em
      margin-bottom: 1em
      line-height: 1.3
      &::before
        content: '—'
        position: absolute
        left: 0
        top: 0

    .title-3
      font-size: 1.1em
      position: relative
      padding-left: 1em
      margin-bottom: .8em
      margin-left: 1.3em
      &::before
        content: '—'
        position: absolute
        left: 0
        top: 0

+breakpoint(large)
  .fullnav
    display: none !important
