body
  font-size: 14px
  font-family: $font-family-main
  color: $font-color-main
  -webkit-font-smoothing: antialiased

.site-container
  position: relative

.container-landing
  margin: 0 auto
  position: relative
  padding: 0 15px
  width: 840px

  &.no-pad
    padding-left: 0
    padding-right: 0

.container
  padding: 0 15px
  margin: 0 auto
  @extend .clearfix

  @media (min-width: 768px)
    width: 750px

  @media (min-width: 992px)
    width: 970px

  @media (min-width: 1200px)
    width: 1170px

a
  color: $font-color-blue
  text-decoration: underline

  &:hover
    text-decoration: none
    color: $font-color-main

img
  max-width: 100%
  max-height: 100%
