.nav
  position: absolute
  width: 100%
  padding: 74px 0 0
  color: white
  z-index: 100

  &:not(.__fixed)
    transition: all .6s

  &-head
    position: relative

  .fullnav-button
    position: absolute
    right: 0
    top: 0
    cursor: pointer
    @extend .icon-menu

  &-toggle-btn
    padding: 18px
    position: absolute
    right: 0
    top: 0
    width: 55px
    height: 55px
    background-color: black
    cursor: pointer
    display: none
    z-index: 110

    span
      margin-bottom: 6px
      height: 1px
      width: 100%
      display: block
      background-color: white
      &:last-child
        margin-bottom: 0

  &-brand
    display: block
    color: white
    float: left
    @extend .clearfix

    &:hover
      color: white

  &-logo
    float: left
    width: 110px
    height: 115px
    margin-right: 30px
    background-image: image-url('logo.svg')
    background-repeat: no-repeat
    background-size: contain

  &-title
    font-family: $font-family-second
    display: inline-block
    font-size: 24px
    max-width: 250px
    position: relative
    top: 14px
    padding-bottom: 5px

  &-controls
    float: right
    padding: 17px 0 0

    &-top
      text-align: right

      .subscribe-link
        font-family: $font-family-main
        font-size: 14px
        text-decoration: underline
        display: inline-block
        position: relative
        top: -13px
        color: white
        opacity: .7
        &:hover
          text-decoration: none

      .thanx
        position: relative
        top: -13px
        display: none
      form
        display: none
        position: relative
        top: -13px
        input[type=email]
          display: inline-block
          background: transparent
          border: none
          border-bottom: 1px solid #888
          padding: .3em
          color: white
          width: 14em

      .social-controls
        margin-left: 30px

  &-item
    display: inline-block
    color: white
    text-decoration: none
    &:hover
      color: white

    &-title
      font-family: $font-family-main
      font-size: 16px
      padding: 18px 15px 18px 15px
      text-transform: uppercase
      cursor: pointer
      position: relative

      &.__dropdown
        &:after
          content: ''
          position: absolute
          width: 5px
          height: 5px
          right: 5px
          top: 23px
          background-color: transparent
          border: 1px solid white
          border-width: 1px 1px 0 0
          transform: rotate(135deg)
          transition: transform .4s


      &:hover
        background-color: black

    &.__active
      .nav-item-title.__dropdown:after
        transform: rotate(-45deg)
        top: 26px

    &.__active
      .nav-menu
        max-height: 3000px
      .nav-item-dropdown
        max-height: 1000px
    &-dropdown
      position: absolute
      top: 100%
      background: white
      z-index: 100
      max-height: 0
      overflow: hidden
      transition: max-height .6s

      a
        font-size: 1.1em
        display: block
        padding: .6em 1.2em
        text-decoration: none
        border-bottom: 1px solid $color-grey


  &-menu
    position: absolute
    top: 100%
    left: 0
    width: 100%
    background-color: white
    color: black
    z-index: 100
    max-height: 0
    overflow: hidden
    transition: max-height .6s

    &-wrapper
      padding: 30px 0 20px

      .affiche-list
        margin-top: 15px

      .affiche-item
        padding: 0
        height: auto
        &-inner
          padding: 0
        &-info
          border: none
          width: auto
          &:hover
            background: transparent
            color: white
        &:hover
          .affiche-item-time
            border-color: white
          .affiche-item-title:after
            background-color: white

    &-column
      float: left
      width: 25%
      padding: 0 30px

      &-title
        padding: 0 0 20px
        font-family: $font-family-second
        font-size: 24px
        border-bottom: 1px solid gray
        position: relative
        display: block


        &:after
          content: "→"
          color: #0275A9
          position: absolute
          right: 0

      //Если заголовок - ссылка
      a.nav-menu-column-title
        color: inherit
        text-decoration: none
        &:hover
          color: $font-color-blue
      &-subtitle
        font-family: $font-family-main
        font-size: 20px
        margin-bottom: 20px

      &-caption
        font-family: $font-family-main
        font-size: 14px
        color: #4D4D4D
        margin-bottom: 20px

      &-event
        margin-bottom: 30px

        &-date
          font-family: $font-family-second
          font-size: 16px
          color: #808080
          display: inline-block
          position: relative
          margin-bottom: 10px
          padding-bottom: 10px

          &:after
            content: ''
            position: absolute
            display: inline-block
            width: 80%
            height: 1px
            left: 0
            bottom: 0
            background-color: #808080

        &-title
          font-family: $font-family-main
          font-size: 16px
          color: #0275A9
          text-decoration: underline
          display: block

      &-image
        margin-bottom: 30px
        img
          width: 100%
          max-width: 250px

      &-category
        &-list
          margin: 20px 0
        &-item
          display: block
          font-family: $font-family-main
          font-size: 16px
          text-decoration: underline
          padding: 7px 0 7px 30px
          position: relative
          &:after
            content: ''
            display: inline-block
            width: 10px
            height: 2px
            position: absolute
            left: 0
            top: 50%
            margin-top: -2px
            background-color: #0275A9

.nav.__fixed
  background-color: rgba(0, 0, 0, 0.7)
  color: white
  height: 55px
  padding: 0
  position: fixed

  .fullnav-button
    display: none

  .nav
    &-brand
      padding: 4.5px 0
    &-logo
      width: 43px
      height: 46px
      margin-right: 15px
    &-title
      font-size: 16px
      top: 4px
    &-controls
      padding: 0
      &-top
        vertical-align: middle
        display: inline-block
        .subscribe-link
          display: none
        .thanx
          display: none !important
        form
          display: none !important
        .social-controls
          margin-left: 0
          &-item
            margin-right: 10px
      &-main
        display: inline-block

+breakpoint(large)
  .nav
    .fullnav-button
      display: none

    &.__fixed
      height: auto
      position: absolute
      .nav-controls-top
        padding: 17px 0 0

    &-toggle-btn
      display: block

    &-brand
      float: none

    &-controls
      float: none
      max-height: 0
      transition: max-height .6s cubic-bezier(0.165, 0.84, 0.44, 1)
      overflow: hidden

      &.__show
        transition: max-height .6s cubic-bezier(0.895, 0.03, 0.685, 0.22)
        max-height: 3000px

      &-top
        display: block
        text-align: left

      &-main
        display: block !important

    &-item
      display: block
      position: relative

      &-title.__dropdown
        &:after
          right: 15px
      &-dropdown
        position: relative

    &-menu
      position: relative
      .container
        width: 100%
      &-column
        padding: 0 10px


+breakpoint(medium)
  .nav
    &-menu
      .section-more-btn
        margin-bottom: 15px
      .affiche-item
        text-align: center
        &-inner
          max-width: 280px
          display: inline-block
          &-info
            border: none
      &-column
        float: none
        width: 100%


+breakpoint(small)
  .nav
    &-toggle-btn
      right: -15px

+breakpoint(400)
  .nav.__fixed
    .nav-title
      max-width: 200px
