- if controller.action_name == "new"
  - @history = History.new
  = render partial: "form_new"
- if controller.action_name == "edit"
  - @history = History.find(params[:id])
  = render partial: "form_edit"