h1 Listing for_settlers

table
  thead
    tr
      th Title
      th Text
      th
      th
      th

  tbody
    - @for_settlers.each do |for_settler|
      tr
        td = for_settler.title
        td = for_settler.text
        td = link_to 'Show', for_settler
        td = link_to 'Edit', edit_for_settler_path(for_settler)
        td = link_to 'Destroy', for_settler, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New For settler', new_for_settler_path
