= form_for [:admin, @document] do |f|
  - if @document.errors.any?
    #error_explanation
      h2 = "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
      ul
        - @document.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_field :text
  .actions = f.submit
