= form_for @sticker do |f|
  - if @sticker.errors.any?
    #error_explanation
      h2 = "#{pluralize(@sticker.errors.count, "error")} prohibited this sticker from being saved:"
      ul
        - @sticker.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_area :text
  .field
    = f.label :stickerable_id
    = f.number_field :stickerable_id
  .field
    = f.label :stickerable_type
    = f.text_field :stickerable_type
  .actions = f.submit
