h1 Listing stickers

table
  thead
    tr
      th Title
      th Text
      th Stickerable
      th Stickerable type
      th
      th
      th

  tbody
    - @stickers.each do |sticker|
      tr
        td = sticker.title
        td = sticker.text
        td = sticker.stickerable_id
        td = sticker.stickerable_type
        td = link_to 'Show', sticker
        td = link_to 'Edit', edit_sticker_path(sticker)
        td = link_to 'Destroy', sticker, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Sticker', new_sticker_path
