p#notice = notice

p
  strong Title:
  = @sticker.title
p
  strong Text:
  = @sticker.text
p
  strong Stickerable:
  = @sticker.stickerable_id
p
  strong Stickerable type:
  = @sticker.stickerable_type

= link_to 'Edit', edit_sticker_path(@sticker)
'|
= link_to 'Back', stickers_path
