%svg-common {
	background: url("sprite-89c7a12c.svg") no-repeat;
}

.svg-doc {
	@extend %svg-common;
	background-position: 0 0;
	width: 52px;
	height: 52px;
}

.svg-doc-pdf {
	@extend %svg-common;
	background-position: 0 14.168937329700272%;
	width: 52px;
	height: 52px;
}

.svg-doc-xsl {
	@extend %svg-common;
	background-position: 0 28.337874659400544%;
	width: 52px;
	height: 52px;
}

.svg-fb {
	@extend %svg-common;
	background-position: 0 39.39393939393939%;
	width: 12px;
	height: 23px;
}

.svg-fb_hover {
	@extend %svg-common;
	background-position: 0 47.229551451187334%;
	width: 40px;
	height: 40px;
}

.svg-instagram {
	@extend %svg-common;
	background-position: 0 54.47761194029851%;
	width: 16px;
	height: 17px;
}

.svg-instagram_hover {
	@extend %svg-common;
	background-position: 0 62.26912928759894%;
	width: 40px;
	height: 40px;
}

.svg-rss {
	@extend %svg-common;
	background-position: 0 68.31683168316832%;
	width: 15px;
	height: 15px;
}

.svg-rss_hover {
	@extend %svg-common;
	background-position: 0 76.78100263852242%;
	width: 40px;
	height: 40px;
}

.svg-search {
	@extend %svg-common;
	background-position: 0 86.19791666666667%;
	width: 35px;
	height: 35px;
}

.svg-vk {
	@extend %svg-common;
	background-position: 0 90.14778325123153%;
	width: 21px;
	height: 13px;
}

.svg-vk_hover {
	@extend %svg-common;
	background-position: 0 100%;
	width: 40px;
	height: 40px;
}

