/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-down-black {
  background-image: url(sprite_1496065319337.png);
  background-position: -219px -130px;
  width: 9px;
  height: 13px;
}
.icon-arrow-down-grey {
  background-image: url(sprite_1496065319337.png);
  background-position: -185px -158px;
  width: 9px;
  height: 12px;
}
.icon-arrow-left-black {
  background-image: url(sprite_1496065319337.png);
  background-position: 0px -185px;
  width: 51px;
  height: 17px;
}
.icon-arrow-right-black {
  background-image: url(sprite_1496065319337.png);
  background-position: -115px -70px;
  width: 51px;
  height: 17px;
}
.icon-arrow-right-white {
  background-image: url(sprite_1496065319337.png);
  background-position: -185px -130px;
  width: 19px;
  height: 13px;
}
.icon-caret-down-grey {
  background-image: url(sprite_1496065319337.png);
  background-position: -209px -158px;
  width: 9px;
  height: 6px;
}
.icon-close {
  background-image: url(sprite_1496065319337.png);
  background-position: -115px 0px;
  width: 55px;
  height: 55px;
}
.icon-doc {
  background-image: url(sprite_1496065319337.png);
  background-position: -70px -115px;
  width: 50px;
  height: 50px;
}
.icon-email {
  background-image: url(sprite_1496065319337.png);
  background-position: -135px -115px;
  width: 18px;
  height: 13px;
}
.icon-lupa {
  background-image: url(sprite_1496065319337.png);
  background-position: -185px 0px;
  width: 50px;
  height: 50px;
}
.icon-menu {
  background-image: url(sprite_1496065319337.png);
  background-position: 0px -115px;
  width: 55px;
  height: 55px;
}
.icon-portfel {
  background-image: url(sprite_1496065319337.png);
  background-position: -185px -65px;
  width: 50px;
  height: 50px;
}
.icon-video {
  background-image: url(sprite_1496065319337.png);
  background-position: 0px 0px;
  width: 100px;
  height: 100px;
}
