.dropdown-component
  .ct-dc-trigger
    span Апрель
    i
  ul
    li: a href='#' Январь
    li: a href='#' Февраль
    li: a href='#' Март
    li: a href='#' Апрель
    li: a href='#' Май
    li: a href='#' Июнь
    li: a href='#' Июль
    li: a href='#' Август
    li: a href='#' Сентябрь
    li: a href='#' Октябрь
    li: a href='#' Ноябрь
    li: a href='#' Декабрь