section.gallery-section
  /Для вывода галереи нужно рандомное число в пределах одной галереи
  - rnd = rand
  - 7.times do |i|
    - file = "gallery/gallery-item#{i%3 + 1}.jpg"
    /Большой изображение (в атрибуте href) - 900 в ширину
      маленькое (на бекграунде) - 500 в ширину
    a.gallery-section-item [
      style="background-image: url(#{asset_path(file)})"
      href='http://www.saga.ua/files/countries/antarktida/Adelie_Penguins_in_Hope_Bay_Antarctica.jpg'
      title='Храм Святого Николая'
      rel="prettyPhoto[gal_#{rnd}]"]
      .gallery-section-item-info
        .gallery-section-item-title Храм Святого Николая
        .gallery-section-item-date 1923

  /Пример видео
  a.gallery-section-item [
    style="background-image: url(#{asset_path('gallery/gallery-item2.jpg')})"
    href='https://www.youtube.com/watch?v=QJlWh8-iowc&t=762s'
    title='Храм Святого Николая'
    rel="prettyPhoto[gal_#{rnd}]"]
    .gallery-section-item-video-icon
    .gallery-section-item-info
      .gallery-section-item-title Храм Святого Николая
      .gallery-section-item-date 1923