/В компонент при рендеринге могут передаться переменные
  В данном случаи может передаваться переменная root_classes
  для намешивания классов-модификаторов на рутовый элемент компонента
ruby:
  unless defined? root_classes
    root_classes = ''
  end
.inset-component class=root_classes
  .ct-left
    .ct-title = lorem_ipsum 80
    - unless defined? no_date
      .ct-date 27 декабря
    .ct-description = lorem_ipsum 250
    .ct-grey-block
      span = lorem_ipsum 100
  /Ширина - 550
  img.ct-image src='http://placehold.it/550x350'