/в data-collection мы помещаем следующего вида json
  [
      {"id": 1,
      "iconUrl": "/frontend/desktop/source/img/map/map-health.png",
      "objects":[
          {
              "name": "Гостиница Азимут",
              "description": "Расположена в центре города",
              "coords": [57.4605, 41.5123]
          }
      ]}
  ]
  каждый элемент массива представляет собой объект для одной категории заведений
  id - уникальный идентификатор категории
  iconUrl - ссылка на иконку категории
  objects - массив меток. У каждой метки присуствует название, описание и координаты
  в блоке .ct-mc-menu выводятся категории. Они должны иметь атрибут data-id для связи с картой
  размер иконки для карты 50х61
  data-center - координаты центра карты
  data-zoom - первончальный зум карты
.map-component [data-collection='[{"id":1,"iconUrl":"/frontend/desktop/source/img/map/map-health.png","objects":[{"name":"Гостиница Азимут","description":"Расположена в центре города","coords":[57.4605,41.5123]}]},{"id":2,"iconUrl":"/frontend/desktop/source/img/map/map-health.png","objects":[{"name":"Музей истории","description":"Отличный музей","coords":[57.463,41.5123]}]}]'
  data-center='[57.4605, 41.5123]',
  data-zoom= 16]
  .ct-mc-map
  .ct-mc-menu
    .ct-mc-menu-item data-id=1
      /макс ширина - 25, макс высота - 30. Не знаю будут ли иконки заранее определены
        или же будут добавляться динамически вместе с пунктами меню
      img src='/frontend/desktop/source/img/map/menu-health.png'
      span Музеи / выставки
    .ct-mc-menu-item data-id=2
      img src='/frontend/desktop/source/img/map/menu-health.png'
      span Музеи / выставки