h3 Поступило сообщение с сайта
table
  tbody
    tr
      td Имя отправителя:
      td = @name
    tr
      td Фамилия отправителя:
      td = @surname
    tr
      td Электронный адрес отправителя:
      td = @email
    tr
      td Обращение:
      td = @message
