| Поступило сообщение с сайта
  ======================================================
  Имя отправителя: #{@name}
  Фамилия отправителя: #{@surname}
  Электронный адрес отправителя: #{@email}
  Обращение: #{@message}
