ruby:
  unless defined? root_classes
    root_classes = ''
  end

section.gallery-section class=root_classes
  /Для вывода галереи нужно рандомное число в пределах одной галереи
  - rnd = rand
  - 7.times do |i|
    - file = "gallery/gallery-item#{i%3 + 1}.jpg"
    /Большой изображение (в атрибуте href) - 900 в ширину
      маленькое (на бекграунде) - 500 в ширину
    a.gallery-section-item [
      style="background-image: url(#{asset_path(file)})"
      href='http://www.saga.ua/files/countries/antarktida/Adelie_Penguins_in_Hope_Bay_Antarctica.jpg'
      title='Храм Святого Николая'
      rel="prettyPhoto[gal_#{rnd}]"]
      .gallery-section-item-info
        .gallery-section-item-title Храм Святого Николая
        .gallery-section-item-date 1923

  /Пример видео
  a.gallery-section-item [
    style="background-image: url(#{asset_path('gallery/gallery-item2.jpg')})"
    href='https://www.youtube.com/watch?v=QJlWh8-iowc&t=762s'
    title='Храм Святого Николая'
    rel="prettyPhoto[gal_#{rnd}]"]
    .gallery-section-item-video-icon
    .gallery-section-item-info
      .gallery-section-item-title Храм Святого Николая
      .gallery-section-item-date 1923

  /Тизер галереи - показывается только на мобайле и если это необходимо
    Если он показывается, то обычные элементы галереи скрываются, а показывается
    только тизер
  - if defined? teaser_on_mobile
    /Шиирина изображения - 1200 пикселов
    .gallery-section-teaser style='background-image: url(http://gotoural.com/uploads/picture/file/289/xlarge_____________-____-_-____-__-_____-____________.jpg)'
      .teaser-shadow
        .section-title.__white Галерея
        = render 'mockups/components/button_center', text: 'Смотреть', root_classes: '__border-bright-blue'