/в data-collection мы помещаем следующего вида json
  [
      {"id": 1,
      "iconUrl": "/frontend/desktop/source/img/map/map-health.svg",
      "objects":[
          {
              "name": "Гостиница Азимут",
              "description": "Расположена в центре города",
              "coords": [57.4605, 41.5123]
          }
      ]}
  ]
  каждый элемент массива представляет собой объект для одной категории заведений
  id - уникальный идентификатор категории
  iconUrl - ссылка на иконку категории
  objects - массив меток. У каждой метки присуствует название, описание и координаты
  в блоке .ct-mc-menu выводятся категории. Они должны иметь атрибут data-id для связи с картой
  размер иконки для карты 50х61
  data-center - координаты центра карты
  data-zoom - первончальный зум карты

  Адреса картинок для карты:
  /frontend/desktop/source/img/map/map-zkh.svg - ЖКХ
  /frontend/desktop/source/img/map/map-education.svg - Образование
  /frontend/desktop/source/img/map/map-health.svg - Здравоохранение
  /frontend/desktop/source/img/map/map-security.svg - Безопасность
  /frontend/desktop/source/img/map/map-city.svg - Городская среда
  /frontend/desktop/source/img/map/map-transport.svg - Транспорт
  /frontend/desktop/source/img/map/map-ecology.svg - Экология
  /frontend/desktop/source/img/map/map-hotels.svg - Где остановится
  /frontend/desktop/source/img/map/map-food.svg - Где поесть
  /frontend/desktop/source/img/map/map-places.svg - Что посмотреть
- collection_json = '[{"id":1,"iconUrl":"/frontend/desktop/source/img/map/map-zkh.svg","objects":[{"name":"Гостиница Азимут","description":"Расположена в центре города","coords":[57.4605,41.5123]}]},{"id":2,"iconUrl":"/frontend/desktop/source/img/map/map-education.svg","objects":[{"name":"Гостиница Азимут","description":"Расположена в центре города","coords":[57.4605,41.5223]}]},{"id":3,"iconUrl":"/frontend/desktop/source/img/map/map-health.svg","objects":[{"name":"Гостиница Азимут","description":"Расположена в центре города","coords":[57.4605,41.5323]}]},{"id":4,"iconUrl":"/frontend/desktop/source/img/map/map-security.svg","objects":[{"name":"Гостиница Азимут","description":"Расположена в центре города","coords":[57.4605,41.5423]}]},{"id":5,"iconUrl":"/frontend/desktop/source/img/map/map-city.svg","objects":[{"name":"Гостиница Азимут","description":"Расположена в центре города","coords":[57.4605,41.5523]}]},{"id":6,"iconUrl":"/frontend/desktop/source/img/map/map-transport.svg","objects":[{"name":"Гостиница Азимут","description":"Расположена в центре города","coords":[57.4605,41.5623]}]},{"id":7,"iconUrl":"/frontend/desktop/source/img/map/map-ecology.svg","objects":[{"name":"Гостиница Азимут","description":"Расположена в центре города","coords":[57.4605,41.5723]}]},{"id":8,"iconUrl":"/frontend/desktop/source/img/map/map-hotels.svg","objects":[{"name":"Гостиница Азимут","description":"Расположена в центре города","coords":[57.4605,41.5823]}]},{"id":9,"iconUrl":"/frontend/desktop/source/img/map/map-food.svg","objects":[{"name":"Гостиница Азимут","description":"Расположена в центре города","coords":[57.4605,41.5923]}]},{"id":10,"iconUrl":"/frontend/desktop/source/img/map/map-places.svg","objects":[{"name":"Гостиница Азимут","description":"Расположена в центре города","coords":[57.4605,41.6023]}]}]'
.map-component [
  data-collection=collection_json
  data-center='[57.4605, 41.5123]',
  data-zoom= 16]
  .ct-mc-map
  .ct-mc-menu
    /ЖКХ
    .ct-mc-menu-item data-id=1
      .ct-mc-menu-image
        = image_tag '/frontend/desktop/source/img/map/menu-zkh.svg'
      span Жкх
    /Образование - элемент может быть изначально неактивен
    .ct-mc-menu-item.__inactive data-id=2
      .ct-mc-menu-image
        = image_tag '/frontend/desktop/source/img/map/menu-education.svg'
      span Образование
    /Здравоохранение
    .ct-mc-menu-item data-id=3
      .ct-mc-menu-image
        = image_tag '/frontend/desktop/source/img/map/menu-health.svg'
      span Здравоохранение
    /Безопасность
    .ct-mc-menu-item data-id=4
      .ct-mc-menu-image
        = image_tag '/frontend/desktop/source/img/map/menu-security.svg'
      span Безопасность
    /Городская среда
    .ct-mc-menu-item data-id=5
      .ct-mc-menu-image
        = image_tag '/frontend/desktop/source/img/map/menu-city.svg'
      span Городская среда
    /Транспорт
    .ct-mc-menu-item data-id=6
      .ct-mc-menu-image
        = image_tag '/frontend/desktop/source/img/map/menu-transport.svg'
      span Транспорт
    /Экология
    .ct-mc-menu-item data-id=7
      .ct-mc-menu-image
        = image_tag '/frontend/desktop/source/img/map/menu-ecology.svg'
      span Экология
    /Где остановится
    .ct-mc-menu-item data-id=8
      .ct-mc-menu-image
        = image_tag '/frontend/desktop/source/img/map/menu-hotels.svg'
      span Где остановится
    /Где поесть
    .ct-mc-menu-item data-id=9
      .ct-mc-menu-image
        = image_tag '/frontend/desktop/source/img/map/menu-food.svg'
      span Где поесть
    /Что посмотреть
    .ct-mc-menu-item data-id=10
      .ct-mc-menu-image
        = image_tag '/frontend/desktop/source/img/map/menu-places.svg'
      span Что посмотреть