ruby:
  unless defined? num
    num = 1
  end

- num.times do |i|
  .news-item
    .news-item-image
      /250 в ширину. Пропорция 4:3
      = image_tag("news/news#{i%4 + 1}.jpg")
    a.news-item-title href='#' = lorem_ipsum rand 100
    .news-item-date 27 декабря