.params-component
  /Форма поиска. Если добавить форме класс __visible, то форма будет видна
    при первоначальной загрузке страницы
  form.ct-ps-search
    input type='text' placeholder='Напишите что искать'
    button type='submit' Найти
  .ct-ps-icon
  .ct-ps-elem
    = render 'mockups/components/dropdown_month'
  .ct-ps-elem
    = render 'mockups/components/dropdown_year'