/Форма отправляется аяксом, фронт в ответ ожидает просто статус 200
= form_for @poster, html: { class: "poster" } do |f|
  - if @poster.errors.any?
    div id="error_explanation"
      h2 = "#{pluralize(@poster.errors.count, "error")} prohibited this poster from being saved:"
      ul
        - @poster.errors.full_messages.each do |message|
          li = message

  .height-30

  .inputs
    = f.text_field :for_date, placeholder: 'показывать до, в формате гггг-мм-дд ', required: true

  .inputs
    = f.text_field :title, placeholder: 'заголовок', required: true
  .inputs
    = f.text_field :date, placeholder: 'дата события', required: true
  .inputs
    = f.text_field :time, placeholder: 'время события', required: true
  /.inputs
  = f.text_area :description, placeholder: 'краткое описание'
  /.inputs
  = f.text_area :grey_block, placeholder: 'текстовая блочная вставка'
  /.inputs
  = f.text_area :text, placeholder: 'основной текст', required: true
  .inputs
    = f.file_field :image, placeholder: 'фото или изображение если есть'

  .text-center
    button.section-more-btn.__black type='submit'
      span Отправить
