= provide :title, " about / afisha"
.page_afisha
  .container
    .section-title Жизнь города
    .subnav-component
      span Афиша
      a href='#' Жителям
      a href='#' Гостям
    .dropdowns
      = render 'contents/posters/components/dropdown_month'
      = render 'contents/posters/components/dropdown_year'

    .afisha
      - @posters_index.each do |poster|
        = render 'templates/partials/affiche_item', poster: poster, bg_on_outer: true
      .affiche-item.prev-next

        /- @posters_months.sort.each do |month, tasks|
          - for task in tasks
            .task
              strong = task.name
                |  created at #{task.due_at.to_date.to_s(:long)}

        a.prev href='#'
          span Сентябрь
          i
        a.next href='#'
          span Ноябрь
          i


    /= link_to 'Новая афиша', new_admin_poster_path
    /' |
    /= link_to 'Управление афишами', admin_posters_path
