= provide :title, " posters / show"

/Отдельная афиша
.page_news_one
  .container
    .section-title.__border-bottom Афиша
    /Врезка
    = render 'inset'

    /Текст
    - unless @poster.text.nil?
      p.cm-par = @poster.text
    - else
      - 1.times do
        p.cm-par = lorem_ipsum 400

    - unless @user.nil?
      .author
        /60x60
        = image_tag @user.attachments.first.attach.url(:author_thumb60)
        .author-data
          .name
            = link_to @user.name, @user
          .job = @user.job
    - else
      .author
        /60x60
        img src='http://placehold.it/60x60'
        .author-data
          .name
            a href='#' Иван Петров
          .job = lorem_ipsum 40

    .height-20
    .news-item-container
      = render 'templates/partials/affiche', num: 4
