= form_for @administration do |f|
  - if @administration.errors.any?
    #error_explanation
      h2 = "#{pluralize(@administration.errors.count, "error")} prohibited this administration from being saved:"
      ul
        - @administration.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_field :text
  .actions = f.submit
