h1 Listing administrations

table
  thead
    tr
      th Title
      th Text
      th
      th
      th

  tbody
    - @administrations.each do |administration|
      tr
        td = administration.title
        td = administration.text
        td = link_to 'Show', administration
        td = link_to 'Edit', edit_administration_path(administration)
        td = link_to 'Destroy', administration, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Administration', new_administration_path
