p#notice = notice

p
  strong Title:
  = @administration.title
p
  strong Text:
  = @administration.text

= link_to 'Edit', edit_administration_path(@administration)
'|
= link_to 'Back', administrations_path
