.affiche-item
  width: 540px
  min-height: 320px
  position: relative
  text-align: center
  padding: 0 30px
  background-size: cover
  background-position: center center

  &-inner
    height: 100%
    padding: 23px 0
    position: relative
    background-size: cover
    background-position: center center

  &-info
    width: 240px
    display: inline-block
    border: 1px solid white
    padding: 25px 30px 10px
    color: white
    position: relative
    z-index: 10
    text-align: center

    &:hover
      background-color: rgba(255, 255, 255, 0.8)
      color: black
      .affiche-item-time
        border-color: black
      .affiche-item-title:after
        background-color: black


  &-date
    display: block
    font-family: $font-family-second
    font-size: 30px
    margin-bottom: 10px

  &-time
    display: inline-block
    font-family: $font-family-second
    font-size: 50px
    padding-top: 10px
    border-top: 1px solid white
    margin-bottom: 20px
    line-height: 40px

  &-title
    display: block
    font-family: $font-family-main
    font-size: 16px
    padding: 0 0 20px 0
    position: relative
    margin-bottom: 10px

    &:after
      content: ''
      position: absolute
      height: 1px
      width: 70%
      left: 50%
      margin-left: -35%
      background-color: white
      bottom: 0

  &-arrow
    font-size: 27px
    padding: 5px
    display: inline-block
    width: 45px
    height: 45px
    background-color: rgba(0, 0, 0, 0.5)
    border-radius: 50%
    color: white
    text-decoration: none

    &:hover
      background-color: #1fb4ff

+breakpoint(small)
  .affiche-item
    &-info
      width: 200px
      padding: 25px 10px 10px
