//Блок с галерей афиши
.affiche-section
  background-color: #333333
  //Чтобы стрелки не вылезали
  overflow: hidden
  .affiche-list
    margin-bottom: 30px
    &.section-slider
      //Пока галерея не инициализирована показываем только первый слайд
      &:not(.slick-initialized)
        .affiche-item:not(:first-of-type)
          display: none
      //Немного доработаем стили галереи в афише
      .slick-prev
        background-image: image-url('arrow-left-white.png')
      .slick-next
        background-image: image-url('arrow-right-white.png')
  .section-more-btn
    +more-btn-bg(#1fb4ff)

+breakpoint(small)
  .affiche-section
    .container
      padding-left: 0
      padding-right: 0
    .affiche-list
      &.section-slider
        .slick-prev
          left: 10px
        .slick-next
          right: 10px
        .affiche-item
          padding-left: 0
          padding-right: 0

