.gallery-section
  padding: 0
  @extend .clearfix

  &-item
    position: relative
    width: 25%
    height: 300px
    display: block
    float: left
    background-position: center
    background-size: cover
    cursor: pointer

    &-video-icon
      position: absolute
      left: 50%
      top: 50%
      margin: -50px 0 0 -50px
      @extend .icon-video

    &:after
      opacity: 0
      position: absolute
      content: ''
      top: 0
      bottom: 0
      right: 0
      left: 0
      background-color: rgba(0, 0, 0, 0.5)
      z-index: 1
      transition: opacity .4s

    &:hover
      &:after
        opacity: 1

    &:hover &-info
      opacity: 1

    &-info
      position: relative
      z-index: 10
      text-align: center
      padding: 0 50px
      color: white
      opacity: 0
      height: 100%
      display: flex
      flex-flow: column wrap
      justify-content: center
      transition: opacity .4s

    &-title
      display: inline-block
      font-family: $font-family-main
      font-size: 18px
      margin-bottom: 20px

    &-date
      display: inline-block
      font-family: $font-family-second
      font-size: 50px
      padding-top: 20px
      border-top: 1px solid white

  //Это тизер галереи который виден только на мобайле
  .gallery-section-teaser
    display: none

+breakpoint(medium)
  .gallery-section
    &-item
      width: 50%

+breakpoint(xsmall)
  .gallery-section
    &-item
      width: 100%
    &.__teaser-on-mobile
      .gallery-section-item
        display: none
      .gallery-section-teaser
        display: block
        height: 600px
        background-size: cover
        background-position: top center
        .teaser-shadow
          background: rgba(black, .5)
          height: 100%
          box-sizing: border-box
          padding: 3.5em 0 0 0
          position: relative
        .text-center
          position: absolute
          bottom: 2em
          left: 0
          width: 100%