.history-section
  background-image: image-url('hist1.jpg')
  background-position: center
  background-size: cover
  padding-bottom: 90px

  &-subtitle
    padding: 25px
    display: inline-block
    color: #2A8B23
    font-family: "Philosopher"
    font-size: 24px
    border-top: 1px solid gray
    border-bottom: 1px solid gray

  &-content
    @extend .clearfix
    margin: 40px 0 90px

  &-column
    font-family: "Roboto"
    font-size: 14px
    line-height: 20px
    float: left
    width: 45%
    color: #4D4D4D

    &:nth-child(2)
      float: right

    p
      margin-bottom: 10px

+breakpoint(xsmall)
  .history-section
    &-column
      float: none
      width: 100%