.news-item-container
  @extend .clearfix
  .news-item
    width: 25%

    &:nth-last-of-type(4n)
      clear: left

.news-item
  text-align: center
  float: left
  padding: 0 30px
  margin-bottom: 20px
  box-sizing: border-box

  &-image
    //16:9 картинки (примерно - при резине есть небольшое, незаметное отстранение от этой пропорции)
    height: 161px
    margin-bottom: 20px
    overflow: hidden
    display: inline-block
    max-width: 350px

    img
      width: 100%
      height: 100%
      transition: transform .4s

      &:hover
        transform: scale(1.1)

  &-title
    font-family: "Philosopher"
    font-size: 14px
    margin-bottom: 30px
    display: block
    color: black
    text-decoration: none

    &:hover
      color: #0275A9
      text-decoration: underline

  &-date
    display: inline-block
    padding: 12px 15px
    border-top: 1px solid #808080
    color: #808080
    font-size: 16px
    font-family: "Philosopher"


+breakpoint(large)
  .news-item
    padding: 0 15px


+breakpoint(medium)
  .news-item-container
    .news-item
      &-image
        height: 100px


+breakpoint(small)
  .news-item-container
    .news-item
      padding: 0 15px
      width: 50%

      &:nth-last-of-type(2n)
        clear: left

      &-image
        height: 161px

  .news-item
    padding: 0 40px

+breakpoint(xsmall)
  .news-item-container
    .news-item
      float: none
      width: auto
      max-width: 420px
      margin-left: auto
      margin-right: auto
