//Блок с галерей новостей
.news-section
  background-color: #f3f3f3
  //Чтобы стрелки не вылезали
  overflow: hidden
  .news-list.section-slider
    //Пока галерея не инициализирована  слайды тоже должны нормально выглядеть
    &:not(.slick-initialized)
      text-align: center
      @extend .clearfix
      .news-item
        display: inline-block
        float: none
        max-width: 280px
        padding: 0 15px
        &:nth-child(n + 5)
          display: none
  .section-more-btn
    display: none

//На телефонах галерея выключается у новостей и появляется кнопка Все новости
+breakpoint(xsmall)
  .news-section
    .section-more-btn
      display: inline-block