.official-section
  background-color: #f3f3f3

  &-content
    @extend .clearfix

  &-column
    display: inline-block
    vertical-align: text-top
    width: 25%
    padding: 0 30px
    text-align: center

    &-title
      font-family: 'Philosopher'
      font-size: 24px
      padding-bottom: 25px
      border-bottom: 1px solid gray
      margin-bottom: 30px
      height: 70px

    &-link
      font-family: 'Roboto'
      font-size: 14px
      color: #0275A9
      display: block
      margin-bottom: 25px
      text-decoration: underline

      &:hover
        color: black
        text-decoration: none

    &-desc
      font-family: 'Roboto'
      font-size: 14px
      color: #4D4D4D
      margin-bottom: 50px
      padding: 0 15px

  .section-more-btn
    margin-bottom: 20px

+breakpoint(medium)
  .official-section
    &-column
      width: 50%
      margin-bottom: 30px

+breakpoint(xsmall)
  .official-section
    &-column
      width: 100%