section
  padding: 70px 0 40px 0

.section-title
  font-family: $font-family-second
  font-size: 50px
  margin-bottom: 40px
  text-align: center

  &.__white
    color: white

  &.__border-bottom
    border-bottom: 1px solid $color-grey
    padding-bottom: 20px

  &.__border-bottom-text
    span
      border-bottom: 1px solid $color-grey
      padding: 0 1em 20px 1em

  &.__small-bottom-margin
    margin-bottom: .3em

.section-subtext
  padding: 25px 90px
  border-top: 1px solid gray
  border-bottom: 1px solid gray
  font-family: 'Roboto'
  font-size: 18px
  color: #4D4D4D
  text-align: center
  margin-bottom: 20px
  font-style: italic
  line-height: 27px

.section-tabs
  &-controls
    @extend .section-title

    &-item
      display: inline-block
      margin-right: 40px

      &:last-child
        margin-right: 0

      &:not(.__active)
        color: #0275A9
        border-bottom: 1px dotted #0275A9
        cursor: pointer


    &.__small-text
      font-size: 24px
      margin-bottom: 20px

  &-contents
    position: relative

    &-inner
      transition: opacity .4s
      position: absolute
      width: 100%
      opacity: 0
      z-index: 1

      &.__active
        opacity: 1
        z-index: 10

.section-more-btn
  display: inline-block
  color: white
  transition: color .4s
  font-family: $font-family-second
  font-size: 20px
  text-decoration: none
  padding: 20px 60px
  position: relative
  text-align: center
  background: transparent
  border: none
  cursor: pointer

  span
    position: relative

  &:before
    content: ''
    display: inline-block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 1px
    transition: height .4s
    background-color: #0275a9

  &:after
    content: '→'
    position: relative
    right: -20px
    display: inline-block

  &:hover
    color: black
    &:before
      height: 100%

  &.__black
    color: black
    &:hover
      color: white

  &.__mail
    &:after
      content: ''
      width: 18px
      height: 13px
      background-image: image-url('mail-black-icon.png')
      transition: background-image .4s

    &:hover:after
      background-image: image-url('mail-white-icon.png')

  &.__block
    display: block
    padding: 20px 0

  &.__border-bright-blue
    &:before
      background-color: #35f0fd;

.section-slider
  &.slick-dotted
    margin-bottom: 80px

  .slick-dots
    bottom: -60px

  .slick-prev, .slick-next
    background-repeat: no-repeat
    background-size: 100%
    width: 30px
    height: 90px
    z-index: 10

    &:before
      display: none

  .slick-prev
    background-image: image-url('arrow-left-black.png')
    left: -35px

    &:hover
      background-image: image-url('arrow-left-blue.png')

  .slick-next
    background-image: image-url('arrow-right-black.png')
    right: -35px

    &:hover
      background-image: image-url('arrow-right-blue.png')

+breakpoint(small)
  .section-title
    &.__small-on-mobile
      font-size: 40px

  .section-subtext
    padding: 25px 0

  .section-slider
    .slick-prev
      left: 0

    .slick-next
      right: 0
