.social-controls
  display: inline-block
  @extend .clearfix

  &-item
    width: 40px
    height: 40px
    float: left
    margin-right: 15px
    background-repeat: no-repeat
    background-position: center center
    cursor: pointer
    &:hover
      background-size: cover !important

    &.rss
      background-size: 15px 15px
      background-image: image-url('svg/rss.svg')

      &:hover
        background-image: image-url('svg/rss_hover.svg')

    &.vk
      background-size: 25px auto
      background-image: image-url('svg/vk.svg')

      &:hover
        background-image: image-url('svg/vk_hover.svg')

    &.fb
      background-size: 12px auto
      background-image: image-url('svg/fb.svg')

      &:hover
        background-image: image-url('svg/fb_hover.svg')

    &.inst
      background-size: 17px auto
      background-image: image-url('svg/instagram.svg')

      &:hover
        background-image: image-url('svg/instagram_hover.svg')
