= form_for @council do |f|
  - if @council.errors.any?
    #error_explanation
      h2 = "#{pluralize(@council.errors.count, "error")} prohibited this council from being saved:"
      ul
        - @council.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_field :text
  .actions = f.submit
