h1 Listing councils

table
  thead
    tr
      th Title
      th Text
      th
      th
      th

  tbody
    - @councils.each do |council|
      tr
        td = council.title
        td = council.text
        td = link_to 'Show', council
        td = link_to 'Edit', edit_council_path(council)
        td = link_to 'Destroy', council, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Council', new_council_path
