= form_for @external_contact_content do |f|
  - if @external_contact_content.errors.any?
    #error_explanation
      h2 = "#{pluralize(@external_contact_content.errors.count, "error")} prohibited this external_contact_content from being saved:"
      ul
        - @external_contact_content.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_area :text
  .actions = f.submit
