h1 Listing external_contact_contents

table
  thead
    tr
      th Title
      th Text
      th
      th
      th

  tbody
    - @external_contact_contents.each do |external_contact_content|
      tr
        td = external_contact_content.title
        td = external_contact_content.text
        td = link_to 'Show', external_contact_content
        td = link_to 'Edit', edit_external_contact_content_path(external_contact_content)
        td = link_to 'Destroy', external_contact_content, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New External contact content', new_external_contact_content_path
