p#notice = notice

p
  strong Title:
  = @external_contact_content.title
p
  strong Text:
  = @external_contact_content.text

= link_to 'Edit', edit_external_contact_content_path(@external_contact_content)
'|
= link_to 'Back', external_contact_contents_path
