a.item.__dark-blue href='#'
  .title Почетные граждане Плёса
  .man
    /100x100
    = image_tag '/frontend/desktop/source/img/man.png'
    .man-title Петр Аркадьевич Иванов
    .man-job Глава Плёса 1983-1987