= form_for @history do |f|
  - if @history.errors.any?
    #error_explanation
      h2 = "#{pluralize(@history.errors.count, "error")} prohibited this history from being saved:"
      ul
        - @history.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_field :text
  .actions = f.submit
