h1 Listing histories

table
  thead
    tr
      th Title
      th Text
      th
      th
      th

  tbody
    - @histories.each do |history|
      tr
        td = history.title
        td = history.text
        td = link_to 'Show', history
        td = link_to 'Edit', edit_history_path(history)
        td = link_to 'Destroy', history, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New History', new_history_path
