.admin-attaches-list
  - @model.attachments.each do |attache|
    div.admin_attaches_thumb_list id="file-block-thumb_#{attache.id}"
      .file-block-thumb
        = image_tag attache.attach.url(:thumb)
      div
        = link_to "открыть", admin_attachment_path(attache)
        '  |
        = link_to "удалить", admin_attachment_path(attache), method: :delete, remote: true