<script type="text/javascript" charset="utf-8">
/*	$(function(){

		var progressBar = $('#progressbar');
		$('#form').on('submit', function(e){
			alert("GO");
			e.preventDefault();
			var $that = $(this),
				formData = new FormData($that.get(0));
			$.ajax({
				url: $that.attr('action'),
				type: $that.attr('method'),
				contentType: false,
				processData: false,
				data: formData,
				dataType: 'json',
				xhr: function(){
					var xhr = $.ajaxSettings.xhr(); // получаем объект XMLHttpRequest
					xhr.upload.addEventListener('progress', function(evt){ // добавляем обработчик события progress (onprogress)
						if(evt.lengthComputable) { // если известно количество байт
							// высчитываем процент загруженного
							var percentComplete = Math.ceil(evt.loaded / evt.total * 100);
							// устанавливаем значение в атрибут value тега <progress>
							// и это же значение альтернативным текстом для браузеров, не поддерживающих <progress>
							progressBar.val(percentComplete).text('Загружено ' + percentComplete + '%');
						}
					}, false);
					return xhr;
				},
				success: function(json){
					if(json){
						$that.after(json);
					}
				}
			});
		});
	});*/

function upload() {

}

/*$(document).ready(function () {
	$("#uploadbutton").click(function () {

		var files = $('#attachment_attachment_attach').prop('files');
		$.map(files, function (val) {
			console.log(val);

			$.ajax({
				type: "POST",
				url: "",
				enctype: 'multipart/form-data',
				data: {
					attach: val
				},
				success: function () {
					alert("Data Uploaded: ");
				}
			});
		});



	});
});*/
</script>