= provide :title, " official / docs"
.page_docs
  .container
    .section-title Официально
    /Верхнее подменю
    = render 'params_links'

    /Документы
    .cm-heading-2.text-center Антикоррупция
    .docs
      - unless @anticorrupt_partitions.nil?
        - @anticorrupt_partitions.sort.each do |partition, document|
          div style="margin-bottom:20px;"
            h3 style="padding-bottom:10px; margin-left: 5px;"=partition
            div style="width: 100%;"
              - document.each do |doc|
                - doc.attachments.each do |a|
                  - if !@string.nil?
                    - if a.title_with_out_ext.index(@string)
                      a href="#{a.attach.url}" style="display: inline-block; float: none !important;"
                        i class="__#{a.file_ext}"
                        span= highlight(a.title_with_out_ext, @string)
                  - else
                    a href="#{a.attach.url}" style="display: inline-block; float: none !important;"
                      i class="__#{a.file_ext}"
                      span= a.title_with_out_ext
                /a href='#download'
            /возможные классы у тега i - __xsl, __pdf, __doc
            /i class="__#{document}"
            /span = document.context
            /= link_to "Edit", edit_admin_document_path(document)
            /= link_to 'Destroy', document, data: { confirm: 'Are you sure?' }, method: :delete
      - else
        - 25.times do
          a href='#'
            /возможные классы у тега i - __xsl, __pdf, __doc
            i.__pdf
            span = lorem_ipsum 100
        /= link_to "новый документ", new_admin_document_path