/Текстовая страница
.page_news_one
  .container
    .section-title.__border-bottom Заголовок страница
    /Текстовое Содержимое
    .cm-par
      p
        = @anticorrupt.title
      p
        = @anticorrupt.text

      /Пример форматирования текста

      a> href='#' ссылка

      p Пример картинки
      /Пример картинки
      p
        img src='http://www.winebutik.net/assets/images/26.09.2011/55555/edf82753-666e-403f-8b2a-af5cd0bbc2c8.jpg'
      p = lorem_ipsum 400

    .height-20
