= form_for @inspection_rating do |f|
  - if @inspection_rating.errors.any?
    #error_explanation
      h2 = "#{pluralize(@inspection_rating.errors.count, "error")} prohibited this inspection_rating from being saved:"
      ul
        - @inspection_rating.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_field :text
  .actions = f.submit
