a.item.__blue href='#{inspection_ratings_path}'
  .title Оценка воздействия проверяющих организаций
  .description Файлы об оценках воздействия проверяющих организаций
  .icon-left
    span #{@inspection_rating_count} файла