p#notice = notice

p
  strong Title:
  = @inspection_rating.title
p
  strong Text:
  = @inspection_rating.text

= link_to 'Edit', edit_inspection_rating_path(@inspection_rating)
'|
= link_to 'Back', inspection_ratings_path
