ruby:
  unless defined? root_classes
    root_classes = ''
  end

  unless defined? text
    text = 'Все новости'
  end

.text-center
  a.section-more-btn href='#{path}' class=root_classes
    span = text