.params-component
  /Форма поиска. Если добавить форме класс __visible, то форма будет видна
      при первоначальной загрузке страницы
  form.ct-ps-search
    input type='text' placeholder='Напишите что искать'
    button type='submit' Найти
  .ct-ps-icon
  .ct-ps-elem
    span.ct-ps-current По названию
  .ct-ps-elem
    a.ct-ps-link href='#' По дате