.params-component
  /Форма поиска. Если добавить форме класс __visible, то форма будет видна
    при первоначальной загрузке страницы
  = form_tag '/news', method: :get, class: "ct-ps-search" do
    = text_field_tag :string, nil, placeholder: 'Напишите что искать'
    button type='submit' Найти
  .ct-ps-icon
  .ct-ps-elem
    = render 'contents/news/components/dropdown_month'
  .ct-ps-elem
    = render 'contents/news/components/dropdown_year'