= form_for @navigator_item do |f|
  - if @navigator_item.errors.any?
    #error_explanation
      h2 = "#{pluralize(@navigator_item.errors.count, "error")} prohibited this navigator_item from being saved:"
      ul
        - @navigator_item.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :points
    = f.text_area :points
  .actions = f.submit
