h1 Listing navigator_items

table
  thead
    tr
      th Title
      th Points
      th
      th
      th

  tbody
    - @navigator_items.each do |navigator_item|
      tr
        td = navigator_item.title
        td = navigator_item.points
        td = link_to 'Show', navigator_item
        td = link_to 'Edit', edit_navigator_item_path(navigator_item)
        td = link_to 'Destroy', navigator_item, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Navigator item', new_navigator_item_path
