p#notice = notice

p
  strong Title:
  = @navigator_item.title
p
  strong Points:
  = @navigator_item.points

= link_to 'Edit', edit_navigator_item_path(@navigator_item)
'|
= link_to 'Back', navigator_items_path
