= form_for @inspection do |f|
  - if @inspection.errors.any?
    #error_explanation
      h2 = "#{pluralize(@inspection.errors.count, "error")} prohibited this inspection from being saved:"
      ul
        - @inspection.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :text
    = f.text_field :text
  .actions = f.submit
