.dropdown-component
  .ct-dc-trigger
    span = Date.ru_current_month_in_word
    i
  ul
    - @posters_months.sort.each do |month, tasks|
      li= link_to Date.to_ru_month(month), posters_path(month: Date.month_number(month))