= form_for @vacancy do |f|
  - if @vacancy.errors.any?
    #error_explanation
      h2 = "#{pluralize(@vacancy.errors.count, "error")} prohibited this vacancy from being saved:"
      ul
        - @vacancy.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_area :text
  .field
    = f.label :type
    = f.text_field :type
  .actions = f.submit
