p#notice = notice

p
  strong Title:
  = @vacancy.title
p
  strong Text:
  = @vacancy.text
p
  strong Type:
  = @vacancy.type

= link_to 'Edit', edit_vacancy_path(@vacancy)
'|
= link_to 'Back', vacancies_path
