= form_for @official do |f|
  - if @official.errors.any?
    #error_explanation
      h2 = "#{pluralize(@official.errors.count, "error")} prohibited this official from being saved:"
      ul
        - @official.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_field :text
  .actions = f.submit
