= provide :title, " official / index"

.page_official
  .container
    .section-title Официально
    .blocks
      - @stickers.each do |sticker|
        = render "contents/stickers/sticker", sticker: sticker

        /Электронная приемная
        /= render "contents/messages/sticker"
        /Документы
        /= render "contents/documents/sticker"
        /Оценка воздействия
        /= render "contents/inspection_ratings/sticker"
        /Почетные граждане Плёса
        /= render "contents/people/sticker"
        /Проверяющим организациям
        /= render "contents/inspections/sticker"
        /Противодействие коррупции
        /= render "contents/anticorrupts/sticker"
        /Внешние связи города
        /= render "contents/external_contacts/sticker"
        /Статистика
        /= render "contents/inspection_ratings/sticker"
        /Вакансии
        /= render "contents/vacancies/sticker"

/hr

/h1 Listing officials

/table
  thead
    tr
      th Title
      th Text
      th
      th
      th

  tbody
    - @officials.each do |official|
      tr
        td = official.title
        td = official.text
        td = link_to 'Show', official
        td = link_to 'Edit', edit_official_path(official)
        td = link_to 'Destroy', official, data: { confirm: 'Are you sure?' }, method: :delete

/br

/= link_to 'New Official', new_official_path
