= form_for [:admin, @inspection_rating], :html => { :enctype => "multipart/form-data" } do |f|
  - if @inspection_rating.errors.any?
    #error_explanation
      h2 = "#{pluralize(@inspection_rating.errors.count, "error")} prohibited this document from being saved:"
      ul
        - @inspection_rating.errors.full_messages.each do |message|
          li = message

  fieldset.inputs
    ol
      li.string.input.required.stringish
        = f.label :partition, "раздел", class: "label"
        = f.text_field :partition, placeholder: 'раздел', required: true
      li.string.input.required.stringish
        = f.label :year, "год", class: "label"
        = f.text_field :year, placeholder: 'это может означать год за который проводился отчет'
      li.string.input.required.stringish
        = f.label :title, "заголовок", class: "label"
        = f.text_field :title, placeholder: 'заголовок', required: true
      li.string.input.required.stringish
        = f.label :text, "основной текст", class: "label"
        = f.text_area :text, placeholder: 'текст содержащий описание раздела, не обязательно', required: true, style: "height: 100px;"
      li.string.input.required.stringish
        = f.label :name, "наименование", class: "label"
        = f.text_field :name, placeholder: 'наименование не обязательно'

  .panel
    h3 выбор файлов
    .panel_contents
      = f.fields_for @inspection_rating.attachments do |a|
        ol
          li.string.input.required.stringish
            = a.label :attach, "файлы ", class: "label"
            = a.file_field :attach, name: "inspection_rating[attachments_attributes][][attach]", multiple: true
            = a.hidden_field :attacheable_type, value: @inspection_rating.class.name

  = f.submit