- if controller.action_name == "new"
  - @inspection_rating = InspectionRating.new
  = render partial: "form"
- if controller.action_name == "edit"
  - @inspection_rating = InspectionRating.find(params[:id])
  = render partial: "form"

- if controller.action_name != "edit" and controller.action_name != "new"
  = render partial: "form"