section.affiche-section
  .container
    .section-title.__white Афиша
    .affiche-list.section-slider.js-affiche-slider
      - 6.times do
        = render 'mockups/partials/affiche_item'
    .text-center
      a.section-more-btn href='#'
        span Все события