section.news-section
  .container
    .section-title Новости
    .news-list.section-slider.js-news-slider
      = render 'mockups/components/news_item', num: 12
    = render 'mockups/components/button_center', text: 'Все новости', root_classes: '__black'