.dropdown-component
  .ct-dc-trigger
    span = Date.ru_current_month_in_word
    i
  ul
    - @months.sort.each do |month, etc|
      li= link_to Date.to_ru_month(month), news_index_path(month: Date.month_number(month))