/В компонент при рендеринге могут передаться переменные
  В данном случаи может передаваться переменная root_classes
  для намешивания классов-модификаторов на рутовый элемент компонента
ruby:
  unless defined? root_classes
    root_classes = ''
  end

.inset-component class=root_classes
  .ct-left
    - unless @news_one.title.nil?
      .ct-title = @news_one.title
    - else
      .ct-title = lorem_ipsum 50
    - unless defined? no_date
      .ct-date = time_ago_in_words @news_one.updated_at
    - unless @news_one.description.nil?
      .ct-description = @news_one.description
    - else
      .ct-description = lorem_ipsum 250
    - unless @news_one.grey_block.nil?
      .ct-grey-block
        span = @news_one.grey_block
    - else
      .ct-grey-block
        span = lorem_ipsum 100
  /Ширина - 550
  - unless @news_one.attachments.nil?
    = image_tag @news_one.attachments.first.attach.url(:afishe_one), class: "ct-image"
  - else
    img.ct-image src='http://placehold.it/550x350'