.params-component
  /Форма поиска. Если добавить форме класс __visible, то форма будет видна
    при первоначальной загрузке страницы
  / form_tag news_search_path, method: :get, html: { class: "ct-ps-search" }, remote: true do |f|
  /= form_tag '/news/search', method: :get, remote: true, class: "ct-ps-search" do
  = form_tag("/news/search", method: "get", class: "ct-ps-search") do
    = text_field_tag :string, nil, placeholder: 'Напишите что искать'
    button type='submit' Найти

  .ct-ps-icon
  .ct-ps-elem
    = render 'templates/components/dropdown_month'
  .ct-ps-elem
    = render 'templates/components/dropdown_year'