= form_for @symbology do |f|
  - if @symbology.errors.any?
    #error_explanation
      h2 = "#{pluralize(@symbology.errors.count, "error")} prohibited this symbology from being saved:"
      ul
        - @symbology.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_field :text
  .actions = f.submit
