h1 Listing symbologies

table
  thead
    tr
      th Title
      th Text
      th
      th
      th

  tbody
    - @symbologies.each do |symbology|
      tr
        td = symbology.title
        td = symbology.text
        td = link_to 'Show', symbology
        td = link_to 'Edit', edit_symbology_path(symbology)
        td = link_to 'Destroy', symbology, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Symbology', new_symbology_path
