= form_for @for_guest do |f|
  - if @for_guest.errors.any?
    #error_explanation
      h2 = "#{pluralize(@for_guest.errors.count, "error")} prohibited this for_guest from being saved:"
      ul
        - @for_guest.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_field :text
  .actions = f.submit
