h1 Listing for_guests

table
  thead
    tr
      th Title
      th Text
      th
      th
      th

  tbody
    - @for_guests.each do |for_guest|
      tr
        td = for_guest.title
        td = for_guest.text
        td = link_to 'Show', for_guest
        td = link_to 'Edit', edit_for_guest_path(for_guest)
        td = link_to 'Destroy', for_guest, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New For guest', new_for_guest_path
