= form_for [:admin, @anticorrupt], :html => { :enctype => "multipart/form-data" } do |f|
  - if @anticorrupt.errors.any?
    #error_explanation
      h2 = "#{pluralize(@anticorrupt.errors.count, "error")} prohibited this document from being saved:"
      ul
        - @anticorrupt.errors.full_messages.each do |message|
          li = message

  fieldset.inputs
    ol
      li.string.input.required.stringish
        = f.label :partition, "раздел", class: "label"
        = f.text_field :partition, placeholder: 'раздел', required: true
      li.string.input.required.stringish
        = f.label :year, "год", class: "label"
        = f.text_field :year, placeholder: 'это может означать год за который проводился отчет'
      li.string.input.required.stringish
        = f.label :title, "заголовок", class: "label"
        = f.text_field :title, placeholder: 'заголовок', required: true
      li.string.input.required.stringish
        = f.label :text, "основной текст", class: "label"
        = f.text_area :text, placeholder: 'текст содержащий описание раздела, не обязательно', required: true, style: "height: 100px;"
      li.string.input.required.stringish
        = f.label :name, "наименование", class: "label"
        = f.text_field :name, placeholder: 'наименование не обязательно'

  .panel
    h3 выбор файлов
    .panel_contents
      = f.fields_for @anticorrupt.attachments do |a|
        ol
          li.string.input.required.stringish
            = a.label :attach, "файлы ", class: "label"
            = a.file_field :attach, name: "anticorrupt[attachments_attributes][][attach]", multiple: true
            = a.hidden_field :attacheable_type, value: @anticorrupt.class.name

  .panel
    h3 стикер
    .panel_contents
      fieldset.inputs
        ol
          = fields_for :stickers do |s|
            li.string.input.required.stringish
              = s.label :title, "заголовок", class: "label"
              = s.text_field :title, value: @anticorrupt.class.name, name: "sticker[title]"
            li.string.input.required.stringish
              = s.label :text, "текст", class: "label"
              = s.text_field :text, value: @anticorrupt.class.name, name: "sticker[text]"

            = s.hidden_field :stickerable_type, value: @anticorrupt.class.name, name: "sticker[stickerable_type]"

            li
              = s.label :color, "цвет стикера", class: "label"
              select id="anticorrupt_sticker_color" name="sticker[color]"
                option style="background: #74C5FF;" value="__blue" голубой
                option style="background: #0084E3; color:#fff" value="__dark-blue" темно-голубой
                option style="background: #000; color:#fff" value="__black" черный
                option style="background: #1EFF06;" value="__green" зеленый
                option style="background: #0D8400; color:#fff" value="__dark-green" темно-зеленый
                option style="background: #ADADAD;" value="__gray" серый
                option style="background: #606060; color:#fff" value="__dark-gray" темно-серый

  = f.submit