= form_for @navigator do |f|
  - if @navigator.errors.any?
    #error_explanation
      h2 = "#{pluralize(@navigator.errors.count, "error")} prohibited this navigator from being saved:"
      ul
        - @navigator.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_field :text
  .actions = f.submit
