h1 Listing navigators

table
  thead
    tr
      th Title
      th Text
      th
      th
      th

  tbody
    - @navigators.each do |navigator|
      tr
        td = navigator.title
        td = navigator.text
        td = link_to 'Show', navigator
        td = link_to 'Edit', edit_navigator_path(navigator)
        td = link_to 'Destroy', navigator, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Navigator', new_navigator_path
