= provide :title, " about / afisha"
.page_afisha
  .container
    .section-title Жизнь города
    .subnav-component
      span Афиша
      a href='#' Жителям
      a href='#' Гостям
    .dropdowns
      = render 'mockups/components/dropdown_month'
      = render 'mockups/components/dropdown_year'

    .afisha
      - 6.times do
        = render 'mockups/partials/affiche_item', bg_on_outer: true
      .affiche-item.prev-next
        a.prev href='#'
          span Сентябрь
          i
        a.next href='#'
          span Ноябрь
          i
