= provide :title, " official / docs"
.page_docs
  .container
    .section-title Официально
    /Верхнее подменю
    = render 'mockups/components/params_links'

    /Документы
    .cm-heading-2.text-center Документы
    .docs
      - 25.times do
        a href='#'
          /возможные классы у тега i - __xsl, __pdf, __doc
          i.__pdf
          span = lorem_ipsum 100