= provide :title, " about / gallery / one"

.container
  .section-title О городе
  = render 'mockups/components/subnav'

/Галерея
.cm-heading-2.__small-margin-bottom.text-center Исторические фото Плёса
.cm-subheading.text-center 137 фото / 75 видео
.text-center
  = render 'mockups/components/dropdown_gallery'
.height-30
= render 'mockups/components/gallery'