= provide :title, " official / message"

.page_message
  .container
    .section-title.__border-bottom Официально
    .cm-heading-2.text-center Электронная приемная
    /Форма отправляется аяксом, фронт в ответ ожидает просто статус 200
    form.message
      .text-center
        /Это дропдаун, который работает как селект
          в скрытое поле будет подставлено значение атрибута
          data-value выбранного пункта
        .dropdown-component.__select
          .ct-dc-trigger
            span Транспорт
            i
            input type='hidden' value=2
          ul
            li data-value=1
              a href='#' Недвижимость
            li data-value=2
              a href='#' Транспорт
            li data-value=3
              a href='#' Что-то еще
      .height-30
      .inputs
        input type='text' placeholder='Как Вас зовут' required=true
        input type='tel' placeholder='Ваш телефон'
        input type='email' placeholder='Ваш email'
      textarea placeholder='Текст обращения' required=true

      .text-center
        button.section-more-btn.__black type='submit'
          span Отправить обращение
    .thanx.cm-par-green Спасибо, Ваше сообщение отправлено.