= provide :title, " navigator"

.page_navigator
  .container
    .section-title.__border-bottom.__small-bottom-margin Жизнь города
    .subnav-component.__no-border
      span Афиша
      a href='#' Жителям
      a href='#' Гостям

  = render 'mockups/components/map'
  .height-40

  .container
    .cm-heading-2.text-center Жилищно-коммунальное хозяйство
    .cm-par-green = lorem_ipsum 50

    .orgs
      - 5.times do
        article
          .title = lorem_ipsum rand 50
          .line
          .address г.Плес, ул.Калинина 10
          .phone
            span 8 (49339) 4-32-72
            br
            span 8 (49339) 4-32-72
          .email
            a href='#' antonov@gmail.com

    .cm-par-green Услуги и тарифы
    .links
      - 7.times do
        a href='#' = lorem_ipsum 100