= provide :title, " news / index"

/Новости
.container
  .section-title Новости
  = render 'mockups/components/params'

  .news-item-container
    = render 'mockups/components/news_item', num: 12
  = render 'mockups/components/more'

