= provide :title, " news / one"

/Отдельная новость
.page_news_one
  .container
    .section-title.__border-bottom Новости
    /Врезка
    = render 'mockups/components/inset'

    /Текст
    - 2.times do
      p.cm-par = lorem_ipsum 400

    /Автор
    .author
      /60x60
      img src='http://placehold.it/60x60'
      .author-data
        .name
          a href='#' Иван Петров
        .job = lorem_ipsum 40

    /След/пред новость
    = render 'mockups/components/prev_next'

    /Читайте также
    .section-title.__border-bottom-text
      span Читайте также
    .height-20
    .news-item-container
      = render 'mockups/components/news_item', num: 4

    = render 'mockups/components/button_center', root_classes: '__black', text: 'Все новости'
    .height-40