- if controller.action_name == "new"
  - @symbology = Symbology.new
  = render partial: "form_new"
- if controller.action_name == "edit"
  - @symbology = Symbology.find(params[:id])
  = render partial: "form_edit"