$fonts-root: '/fonts/'

@font-face
  font-family: 'Adelle-Regular'
  src: url('#{$fonts-root}Adelle-Regular.woff')
  font-weight: normal

@font-face
  font-family: 'Adelle-SemiBold'
  src: url('#{$fonts-root}Adelle-SemiBold.woff')
  font-weight: normal

@font-face
  font-family: 'Adelle-SemiBoldItalic'
  src: url('#{$fonts-root}Adelle-SemiBoldItalic.woff')
  font-weight: normal

@font-face
  font-family: 'Adelle-LightItalic'
  src: url('#{$fonts-root}Adelle-LightItalic.woff')
  font-weight: normal

@font-face
  font-family: 'Adelle-Bold'
  src: url('#{$fonts-root}Adelle-Bold.woff')
  font-weight: normal

@font-face
  font-family: 'Philosopher'
  src: url('#{$fonts-root}Philosopher-Regular.ttf')
  font-weight: normal

@font-face
  font-family: 'Roboto'
  src: url('#{$fonts-root}Roboto-Regular.ttf')
  font-weight: normal

@font-face
  font-family: 'slick'
  font-weight: normal
  font-style: normal
  src: url('#{$fonts-root}slick.ttf')
