h1 Listing abouts

table
  thead
    tr
      th Title
      th Text
      th
      th
      th

  tbody
    - @object.each do |about|
      tr
        td = about.title
        td = about.text
        td = link_to 'Show', "#"
        td = link_to 'Edit', "#"
        td = link_to 'Destroy', "#"

br

= link_to 'New About', "#"
