.cm-par
  font-size: 1.05em
  color: $font-color-grey-dark
  line-height: 1.4
  margin-bottom: 1em
  p
    margin-bottom: 1em

.cm-par-green
  color: #2f8a2a
  font-family: $font-family-second
  font-size: 1.7em
  text-align: center
  margin-bottom: 1.5em

.cm-heading-2
  font-family: $font-family-second
  font-size: 2.3em
  margin-bottom: 1em
  &.__small-margin-bottom
    margin-bottom: .2em

.cm-heading-3
  font-family: $font-family-second
  font-size: 1.7em
  margin-bottom: 1em


.cm-subheading
  font-family: $font-family-second
  color: $font-color-grey
  font-size: 1.1em
  margin-bottom: 1.3em
  &.__small-margin-bottom
    margin-bottom: .2em

.cm-list
  list-style: disc
  li
    margin-bottom: 1em

+breakpoint(small)
  .cm-heading-2
    font-size: 1.8em
  .cm-heading-3
    font-size: 1.4em