.clearfix
  &:after,
  &:before
    content: ''
    display: table

.clearfix:after
  clear: both

.clear
  clear: both

.left
  float: left

.right
  float: right

.text-center
  text-align: center

.height-5
  height: 5px

.height-10
  height: 10px

.height-20
  height: 20px

.height-30
  height: 30px

.height-40
  height: 40px

.height-50
  height: 50px

.height-60
  height: 60px

.height-70
  height: 70px

.inline-block
  display: inline-block