- if controller.action_name == "new"
  = render "admin/documents/form_new"

- if controller.action_name == "edit"
  = render "admin/documents/form_edit"

- if controller.action_name != "new" && controller.action_name != "edit"
  = render "admin/documents/form_new"