= form_for [:admin, @document], :html => { :enctype => "multipart/form-data" } do |f|
  - if @document.errors.any?
    #error_explanation
      h2 = "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
      ul
        - @document.errors.full_messages.each do |message|
          li = message

  fieldset.inputs
    ol
      li.string.input.required.stringish
        = f.label :name, "наименование", class: "label"
        = f.text_field :name, placeholder: 'наименование'
      li.string.input.required.stringish
        = f.label :partition, "раздел", class: "label"
        = f.text_field :partition, placeholder: 'раздел', required: true
      li.string.input.required.stringish
        = f.label :context, "контекст", class: "label"
        = f.text_field :context, placeholder: 'контекст'
      li.string.input.required.stringish
        = f.label :title, "заголовок", class: "label"
        = f.text_field :title, placeholder: 'заголовок', required: true
      li.string.input.required.stringish
        = f.label :text, "основной текст", class: "label"
        = f.text_area :text, placeholder: 'основной текст', required: true, style: "height: 100px;"

  .panel
    h3 выбор файлов
    .panel_contents
      = f.fields_for @document.attachments do |a|
        ol
          li.string.input.required.stringish
            = a.label :attach, "файлы ", class: "label"
            = a.file_field :attach, name: "document[attachments_attributes][][attach]", multiple: true
            = a.hidden_field :attacheable_type, value: @document.class.name

  = f.submit