.page_afisha
  .section-title
    margin-bottom: .5em

  .subnav-component
    margin-bottom: 1em

  .dropdowns
    text-align: center
    margin-bottom: 2.5em

    .dropdown-component
      margin-left: 1.2em
      margin-right: 1.2em

      .ct-dc-trigger
        font-size: .8em

  .afisha
    display: flex
    flex-wrap: wrap
    margin: 0 0 2em 0

    .affiche-item
      padding: 0
      width: 48%
      box-sizing: border-box
      margin-right: 4%
      margin-bottom: 3em

      &:nth-of-type(even)
        margin-right: 0
      &:nth-of-type(odd)
        &:last-of-type
          margin-left: auto
          margin-right: auto

    .prev-next
      background: #e6e6e6
      position: relative

      a
        display: block
        height: 4em
        position: absolute
        top: 50%
        margin-top: -2em
        color: #7f7f7f
        font-family: $font-family-second
        font-size: 1.6em
        text-decoration: none

        span
          display: block
          margin-bottom: .8em


        i
          display: inline-block

        &.next
          left: 50%
          margin-left: 1em

          i
            position: relative
            left: -5px
            @extend .icon-arrow-right-black

        &.prev
          right: 50%
          text-align: right
          margin-right: 1em

          i
            @extend .icon-arrow-left-black

        &:hover
          opacity: .7

+breakpoint(small)
  .page_afisha
    .afisha
      .affiche-item
        margin-right: 0
        width: 100%
