.page_docs
  .docs
    margin-bottom: 2.5em
    @extend .clearfix

    a
      display: block
      float: left
      width: 32%
      margin-right: 2%
      margin-bottom: 1.5em
      position: relative
      box-sizing: border-box
      min-height: 52px
      padding-left: 70px
      padding-top: 10px
      &:nth-of-type(3n)
        margin-right: 0
      &:nth-of-type(3n + 1)
        clear: left

      i
        display: inline-block
        position: absolute
        left: 0
        top: 0
        @extend .svg-doc

        &.__pdf
          @extend .svg-doc-pdf
        &.__doc
          @extend .svg-doc
        &.__xsl
          @extend .svg-doc-xsl

      span
        display: block
        line-height: 1.4

+breakpoint(small)
  .page_docs
    .docs
      a
        float: none
        width: auto