.page_gallery
  .events
    margin: 0 0 30px 0

    article
      height: 300px
      @extend .clearfix
      margin: 0 0 7px 0

      .left-block
        float: left
        width: 25%
        height: 100%
        background: $font-color-blue
        color: white
        text-align: center
        box-sizing: border-box
        padding-top: 40px

        .date
          font-size: 2.3em
          font-family: $font-family-second
          max-width: 200px
          margin: 0 auto .5em auto
        .line
          display: block
          width: 150px
          margin: 0 auto 1.4em auto
          border-bottom: 1px solid white
        .title
          font-size: 1.2em
          margin: 0 auto 1.4em auto
          width: 200px
        .arrow
          width: 40px
          height: 40px
          border-radius: 50%
          background: #0e648d
          text-align: center
          display: block
          margin: 0 auto
          transition: background .4s

          span
            position: relative
            top: 12px
            display: inline-block
            @extend .icon-arrow-right-white

          &:hover
            background: darken(#0e648d, 10%)

      .image
        display: block
        float: left
        width: 25%
        height: 100%
        background-position: center center
        background-size: cover

+breakpoint(medium)
  .page_gallery
    .events
      article
        height: 250px

        .left-block
          padding-top: 20px
          width: 33.3%
        .image
          width: 33.3%
          &:last-of-type
            display: none

+breakpoint(small)
  .page_gallery
    .events
      article
        .left-block
          width: 50%
        .image
          width: 50%
          &:nth-child(2)
            display: none

+breakpoint(xsmall)
  .page_gallery
    .gallery-title, .gallery-button
      display: none
    .events
      article
        height: auto
        .left-block
          float: none
          width: auto
          height: 250px
        .image
          height: 250px
          float: none
          width: auto
