.page_gov
  .description
    text-align: center
    font-style: italic
    color: $font-color-grey-dark
    font-size: 1.3em
    margin-bottom: 2.5em
    line-height: 1.5

  .items
    margin-bottom: 2em
    display: flex
    flex-wrap: wrap
    justify-content: center

    article
      display: inline-block
      width: 155px
      margin: 0 15px 40px 15px
      text-align: center

      img
        display: inline-block
        margin: 0 0 1em 0
        border-radius: 50%
        width: 120px
        height: 120px

      a.name
        display: block
        margin-bottom: 1em

      .job
        font-size: .9em
        color: $font-color-grey
        margin-bottom: 1.2em

      .line
        width: 130px
        border-bottom: 1px solid $color-grey
        margin: 0 auto 1em auto

      .phone
        margin-bottom: .5em
        font-family: $font-family-second
        font-size: 1.3em

+breakpoint(small)
  .page_gov
    .description
      font-size: 1em