.page_history
  //Врезка с галереей
  .inset-with-gal
    margin-bottom: 2em
    @extend .clearfix

    .gallery
      float: left
      width: 35%
      position: relative
      padding-bottom: 50px
      margin-bottom: 2em

      img
        width: 100%
        margin-right: .5em

      //Пока галерея не инициализирована показываем только первый слайд
      &:not(.slick-initialized)
        img:not(:first-of-type)
          display: none

      .slick-next, .slick-prev
        position: absolute
        bottom: 0
        top: auto
        display: inline-block
        &:before
          display: none !important

      .slick-next
        @extend .icon-arrow-right-black
        left: 50%
        right: auto
        margin-left: 10px

      .slick-prev
        @extend .icon-arrow-left-black
        right: 50%
        margin-right: 10px
        left: auto

    .text-block
      float: right
      width: 61%

  //История
  .history
    background: image-url('hist1.jpg') no-repeat bottom center
    background-size: cover
    padding: 20px 0 300px 0

+breakpoint(xsmall)
  .page_history
    .inset-with-gal
      .gallery, .text-block
        float: none
        width: auto
