.top-section
  background-image: image-url('header-bg.jpg?rand=1')
  background-position: center
  background-size: cover
  min-height: 1000px
  padding-top: 580px

  &-image
    width: 260px
    height: 380px
    float: left

    img
      width: 100%
      height: 100%

  &-column
    padding-left: 300px
    color: white

    .title
      font-family: "Philosopher"
      font-size: 40px
      margin-bottom: 15px

    .subtitle
      font-family: "Roboto"
      font-size: 18px
      padding-bottom: 25px
      border-bottom: 1px solid gray
      margin-bottom: 25px

    p
      font-family: "Roboto"
      font-size: 16px
      margin-bottom: 15px

.governance-section
  //Чтобы стрелки не вылезали
  overflow: hidden
  .section-tabs-contents
    margin-bottom: 20px

  .governance-item
    text-align: center

    &-inner
      max-width: 190px
      display: inline-block

    &-image
      width: 120px
      height: 120px
      display: inline-block
      margin-bottom: 20px
      img
        width: 100%
        height: 100%
        border-radius: 50%

    &-title
      color: #4D4D4D
      font-family: "Roboto"
      font-size: 14px
      display: inline-block
      text-decoration: none

      &:hover
        text-decoration: underline
        color: #0275A9

.map-section
  position: relative
  padding: 0
  .tabs
    position: absolute
    z-index: 2
    width: 500px
    left: 50%
    margin-left: -250px
    top: 20px
    font-family: $font-family-second
    font-size: 3.5em
    text-align: center
    span
      cursor: pointer
      display: inline-block
      margin-left: .5em
      margin-right: .5em
      color: $font-color-blue
      border-bottom: 1px dotted black
      &:hover
        border-bottom-color: transparent
      &.__active
        border-bottom-color: transparent
        color: black

  .tabs-content
    .item
      display: none
      &.__active
        display: block

+breakpoint(medium)
  .top-section
    padding-top: 300px

+breakpoint(small)
  .top-section
    padding-top: 150px
    &-image
      float: none
    &-column
      padding-left: 0

  .map-section
    .tabs
      font-size: 2em
      width: 300px
      margin-left: -150px

+breakpoint(xsmall)
  .governance-section
    .section-slider
      padding-left: 30px
      padding-right: 30px
    .slick-prev
      left: -5px
      margin-top: -25px
    .slick-next
      right: -5px
      margin-top: -25px
