.landing
  color: #28394f
  font-family: "Adelle-Regular", Arial, sans-serif

  .move-to
    display: inline-block
    position: relative
    text-transform: uppercase
    font-size: 18px
    font-weight: bold
    cursor: pointer
    min-width: 50px
    min-height: 28px
    font-family: "Adelle-Bold"

    &:before
      content: ''
      position: absolute
      width: 50px
      height: 28px
      display: inline-block
      background-image: image-url('landing/arrow-white.png')

  .header
    background-image: image-url("landing/main-bg.jpg")
    background-repeat: no-repeat
    background-size: cover
    min-height: 1536px
    padding-bottom: 20px

    .move-to
      left: 50%
      margin-left: -25px

    .contact-us-btn
      position: absolute
      z-index: 100
      top: 0
      right: 89px
      padding: 10px 20px
      text-transform: uppercase
      color: white
      background-color: #384b69
      cursor: pointer
      font-size: 1.15em

    .content
      position: relative
      padding-top: 100px
      margin-bottom: 320px

      .text-panel
        background-color: #f8d130
        background: linear-gradient(to right, rgba(250, 195, 0, 0.65), rgba(250, 204, 45, 0.51))
        color: #a56616
        font-size: 4.3em
        padding: 50px 60px 70px 125px
        box-shadow: 0 0 59px 0 #f8d130
        width: 632px
        display: block
        margin: 0 auto
        line-height: 0.9em
        z-index: 100
        position: relative

      .title
        font-size: 1.9em
        width: 420px
        line-height: 1.1em
        margin-bottom: 15px
        display: inline-block
        margin-left: 220px
        font-family: "Adelle-SemiBold"
        color: #43525b
        z-index: 130
        position: relative

      .flag
        display: inline-block
        background-image: image-url("landing/flag.png")
        width: 225px
        height: 263px
        position: absolute
        left: -22px
        z-index: 110

      .cloud1
        position: absolute
        background-image: image-url("landing/cloud1.png")
        background-repeat: no-repeat
        width: 382px
        height: 151px
        z-index: 120
        top: 36px
        left: 140px

      .cloud2
        position: absolute
        background-image: image-url("landing/cloud2.png")
        background-repeat: no-repeat
        width: 269px
        height: 112px
        z-index: 110
        bottom: -63px
        right: -8px

      .shadow1
        position: absolute
        width: 1px
        height: 1px
        box-shadow: 0 0 100px 100px orange
        top: 0
        right: 100px

      .shadow2
        position: absolute
        width: 1px
        height: 1px
        box-shadow: 0 0 100px 100px orange
        bottom: 0
        right: 0

  section.greeting
    padding: 65px 0 35px

    .text-panel
      background-color: white
      padding: 50px
      position: relative
      font-size: 16px

      img
        position: absolute
        right: -40px
        top: 50px
        box-shadow: 0px 19px 49px 18px rgba(0,0,0,0.26)

      .text
        width: 66%

        p
          margin: 20px 0

          &:first-child
            margin-top: 0
        a
          color: #0000ee

          &:hover
            text-decoration: underline

      .sign
        border-top: 1px solid black
        padding-top: 20px

        .name
          font-size: 24px
          font-family: "Adelle-SemiBoldItalic"

        .position
          font-size: 18px
          font-family: "Adelle-LightItalic"






  section.contact-us
    padding: 60px 0
    background-image: image-url("landing/contacts-bg.jpg")
    background-size: cover

    .title
      text-align: center
      text-transform: uppercase
      font-size: 30px
      font-weight: bold
      margin-bottom: 45px
      font-family: "Adelle-Bold"

    .form-container
      width: 585px
      margin: 0 auto

      .flash-box
        font-size: 16px
        margin: 15px 0
        text-align: center

        .error
          color: red

      form
        input, textarea
          padding: 25px 30px
          color: white
          background-color: #142539
          margin-bottom: 3px
          width: 100%
          font-family: "Adelle-LightItalic"
          border-radius: 0

        input.half-width
          width: 291px
          height: 70px
          display: inline-block

          &:first-child
            margin-right: 3px

        input.submit
          background-color: #f3c61b
          text-transform: uppercase
          color: #28394f
          font-size: 30px
          padding: 15px
          box-shadow: 0 11px 18px 0px rgba(0,0,0,0.26)
          cursor: pointer
          font-family: "Adelle-Bold"

        textarea
          height: 200px

        .g-recaptcha
          float: right



    .contacts
      margin: 60px 40px 0
      border-top: 1px solid black
      padding-top: 30px
      font-family: "Adelle-LightItalic"
      font-size: 1.3em

      a
        text-decoration: underline
        color: #0000ee

      .cols
        width: 780px
        margin: 0 auto

      .col
        float: left
        width: 45%

        &:last-child
          float: right
          width: 30%





  .footer
    padding: 70px 0 50px
    background-image: image-url("landing/footer-bg.jpg")
    background-size: cover
    text-align: center

    .socials
      width: auto
      display: inline-block
      margin-bottom: 60px

      .icon
        display: inline-block
        cursor: pointer
        width: 40px
        height: 40px
        margin-right: 20px
        background-repeat: no-repeat
        background-size: contain

        &:last-child
          margin-right: 0

        &.fb
          background-image: image-url("landing/fb-icon.png")

        &.vk
          background-image: image-url("landing/vk-icon.png")

        &.inst
          background-image: image-url("landing/inst-icon.png")

    .move-to
      padding-top: 40px

      &:before
        background-image: image-url('landing/arrow-dark.png')
        top: 0
        left: 50%
        margin-left: -25px
