.page_message
  form.message
    margin: 0 0 3em 0
    .inputs
      @extend .clearfix
      margin: 0 0 3em 0

      input[type=text],
      input[type=tel],
      input[type=email]
        float: left
        width: 32%
        margin-right: 2%
        border-bottom: 1px solid black
        position: relative
        text-align: center
        font-family: $font-family-second
        font-size: 1.3em
        box-sizing: border-box
        padding: .8em 1em
        display: block
        transition: all .7s
        border-radius: 0

        &:last-of-type
          margin-right: 0

        &:focus
          border-bottom-color: $font-color-blue
          background: #efefef


    textarea
      display: block
      width: 100%
      padding: .8em 1em
      font-size: 1.3em
      text-align: center
      font-family: $font-family-second
      border: 1px solid $color-grey
      height: 14em
      margin: 0 0 2em 0
      border-radius: 0
  .thanx
    display: none

+breakpoint(xsmall)
  .page_message
    form.message
      .inputs
        input[type=text],
        input[type=tel],
        input[type=email]
          float: none
          width: 100%
          margin-bottom: 1em