.page_navigator
  .orgs
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-bottom: 1em

    article
      width: 27%
      border: 1px solid $color-grey
      padding: 30px 20px
      margin: 0 1.5em 3em 1.5em
      text-align: center

      .title
        font-size: 1.4em
        margin-bottom: 1em
      .line
        width: 100px
        border-bottom: 1px solid $color-grey
        margin: 0 auto 1em auto
      .address
        color: $font-color-grey-dark
        margin-bottom: 1em
        font-size: 1.1em
      .phone
        font-family: $font-family-second
        font-size: 1.3em
        margin-bottom: 1em

  .links
    margin-bottom: 2.5em
    @extend .clearfix

    a
      display: block
      float: left
      width: 32%
      margin-right: 2%
      margin-bottom: 1.5em
      padding-left: 1.2em
      position: relative
      &:nth-of-type(3n)
        margin-right: 0
      &:nth-of-type(3n + 1)
        clear: left

      &::before
        content: '—'
        position: absolute
        left: 0
        top: 0
        color: black

+breakpoint(medium)
  .page_navigator
    .orgs
      article
        width: 40%

+breakpoint(small)
  .page_navigator
    .links
      a
        float: none
        width: auto

+breakpoint(xsmall)
  .page_navigator
    .orgs
      article
        margin-left: 0
        margin-right: 0
        width: 100%