.page_news_one
  //Автор
  .author
    margin: 0 0 30px 0
    padding: 20px 0 0 0
    @extend .clearfix
    max-width: 400px

    img
      float: left
      border-radius: 50%
      width: 60px
      height: 60px

    .name
      display: block
      margin: 5px 0 5px 80px
      font-size: 1.4em
      font-family: $font-family-second

      a
        text-decoration: none

    .job
      color: $font-color-grey
      margin: 0 0 0 80px
      font-size: .9em
