.page_official
  .blocks
    margin: 0 0 30px 0

    .item
      display: block
      color: white
      text-decoration: none
      float: left
      margin: 0 1% 20px 0
      background: $font-color-blue
      text-align: center
      min-height: 210px
      box-sizing: border-box
      padding: 30px 30px 10px 30px
      width: 49%
      transition: background .4s

      .title
        font-family: $font-family-second
        font-size: 2.4em
        margin: 0 0 .5em 0
        line-height: 1.05

      .description
        font-size: 1.2em
        margin: 0 0 1em 0

      //Человек
      .man
        display: inline-block
        position: relative
        padding: 10px 0 0 120px
        min-height: 100px

        img
          width: 100px
          height: 100px
          border-radius: 50%
          position: absolute
          left: 0
          top: 0

        .man-title
          text-align: left
          font-size: 1.2em
          margin-bottom: .4em

        .man-job
          text-align: left
          color: rgba(white, .5)



      //Блок с иконкой слева
      .icon-left
        @extend .clearfix

        span
          position: relative
          padding-left: 60px
          display: inline-block
          font-family: $font-family-second
          color: rgba(white, .5)
          font-size: 2.4em
          padding-top: 5px

          &::before
            content: ''
            display: inline-block
            position: absolute
            left: 0
            top: 0
            @extend .icon-doc

        &.__vacancy
          span
            &::before
              @extend .icon-portfel

      //Блок с иконкой справа
      .icon-right
        display: inline-block
        padding: 0 2em .7em 2em
        border-bottom: 1px solid rgba(white, .5)
        span
          display: inline-block
          margin-right: 1em
          font-family: $font-family-second
          font-size: 1.4em
        i
          display: inline-block
          @extend .icon-email

      &:nth-child(even)
        margin-left: 1%
        margin-right: 0

      &:nth-child(odd)
        clear: left

        &:last-of-type
          float: none
          margin-left: auto
          margin-right: auto

      //Бекграунды
      &.__light-blue
        background: #1d95d3
        &:hover
          background: darken(#1d95d3, 5%)

      &.__dark-green
        background: #0e773e
        &:hover
          background: darken(#0e773e, 5%)

      &.__grey
        background: #d8d8d8
        &:hover
          background: darken(#d8d8d8, 5%)

      &.__dark-blue
        background: #1276a7
        &:hover
          background: darken(#1276a7, 5%)

      &.__light-green
        background: #42ae3c
        &:hover
          background: darken(#42ae3c, 5%)

      &.__dark-grey
        background: #666
        &:hover
          background: darken(#666, 5%)

      &.__black
        background: #333
        &:hover
          background: darken(#333, 10%)

      &.__blue
        background: #2eb5fc
        &:hover
          background: darken(#2eb5fc, 10%)

      &.__green
        background: #2f8a2a
        &:hover
          background: darken(#2f8a2a, 5%)

+breakpoint(medium)
  .page_official
    .blocks
      .item
        float: none
        width: auto
        margin-left: 0
        margin-right: 0

+breakpoint(xsmall)
  .page_official
    .blocks
      .item
        padding-left: 10px
        padding-right: 10px