.page_people
  .people
    margin-bottom: 2em
    display: flex
    flex-wrap: wrap
    justify-content: center

    article
      display: inline-block
      width: 200px
      margin: 0 40px 40px 40px
      text-align: center

      img
        display: inline-block
        margin: 0 0 1em 0
        border-radius: 50%
        height: 200px
        width: 200px

      .name
        font-size: 1.2em
        margin-bottom: .7em

      .job
        font-size: .8em
        color: $font-color-grey-dark
        margin-bottom: 1em

      .line
        width: 100px
        border-bottom: 1px solid $color-grey
        margin: 0 auto 1em auto
