.page_symbols
  //Символы
  .symbols
    article
      border-bottom: 2px solid $color-grey-light
      margin-bottom: 3em
      padding-bottom: 2.5em
      @extend .clearfix

      &:last-of-type
        border-bottom: none
        padding-bottom: 0

      img
        float: left
        width: 225px

      .text-block
        margin-left: 260px

        .cm-heading-3
          margin-bottom: .7em

        .subheading
          font-size: 1.3em
          margin-bottom: .8em

        .author
          @extend .cm-par
          padding-left: 1.2em
          position: relative
          &::before
            content: "—"
            color: $font-color-blue
            display: inline-block
            position: absolute
            left: 0
            top: 0

        .meta
          margin: 0 0 1.5em 0
          span
            display: inline-block
            margin-right: 30px

            em
              display: inline-block
              color: $font-color-grey
              font-style: normal
              font-size: 1.1em
              margin: 0 0 .5em 0
            i
              display: inline-block
              font-style: normal
              font-size: 1.3em

  //Галерея
  .gallery-container
    padding: 50px 0 50px 0
    background: image-url('symbols/city_bg.jpg') no-repeat center center
    background-size: cover

    .gallery
      .slide
        padding-left: 20px
        padding-right: 20px
        padding-bottom: 3em
        img
          display: block
          margin-left: auto
          margin-right: auto

      //Пока галерея не инициализирована показываем только первый слайд
      &:not(.slick-initialized)
        .slide:not(:first-of-type)
          display: none

      .slick-dots
        li
          button
            &:before
              font-size: 12px
              color: white
              opacity: 1

          &.slick-active
            button
              &:before
                color: $font-color-blue

+breakpoint(xsmall)
  .page_symbols
    .symbols
      article
        img
          float: none
          display: block
          margin: 0 auto 20px auto

        .text-block
          margin-left: 0