= form_for [:admin, @person], :html => { :enctype => "multipart/form-data" } do |f|
  fieldset.inputs
    ol
      li.string.input.required.stringish
        = f.label :title, "заголовок", class: "label"
        = f.text_field :title, placeholder: 'заголовок', required: true
      li.string.input.required.stringish
        = f.label :text, "основной текст", class: "label"
        = f.text_area :text, placeholder: 'основной текст', required: true, style: "height: 100px;"

  .panel
    h3 выбор файлов
    .panel_contents
      = f.fields_for [:attachments, @person] do |a|
        ol
          li.string.input.required.stringish
            = a.label :attach, "файлы ", class: "label"
            = a.file_field :attach, name: "person[attachments_attributes][][attach]", multiple: true
            = a.hidden_field :attacheable_type, value: @person.class.name

  = f.submit