- if controller.action_name == "new"
  - @person = Person.new
  = render partial: "form_new"
- if controller.action_name == "edit"
  - @person = Person.find(params[:id])
  = render partial: "form_edit"