.news-item
  .news-item-image
    /250 в ширину. Пропорция 4:3
    = image_tag(news.attachments.first.attach.url(:thumb)) if news.attachments.first
  = link_to highlight(news.title, @string), news, class: "news-item-title"
  .news-item-date= time_ago_in_words news.created_at