= provide :title, " news / index"

/Новости
.container
  .section-title Новости
  = render 'templates/components/params'


  .news-item-container

    - @news_index.each do |one_news|
      = render 'news_item', :news => one_news

    = render partial: 'news_item', collection: @news_index, as: :news

  = render 'templates/components/more'
