= provide :title, " news / one"

/Отдельная новость
.page_news_one
  .container
    .section-title.__border-bottom Новости
    /Врезка
    = render 'contents/news/components/inset'

    - unless @news_one.text.nil?
      p.cm-par = @news_one.text
    - else
      /Текст
      - 2.times do
        p.cm-par = lorem_ipsum 400

    - unless @user.nil?
      .author
        /60x60
        = image_tag @user.attachments.first.attach.url(:author_thumb60)
        .author-data
          .name
            = link_to @user.name, @user
          .job = @user.job
    - else
      .author
        /60x60
        img src='http://placehold.it/60x60'
        .author-data
          .name
            a href='#' Иван Петров
          .job = lorem_ipsum 40


    /След/пред новость
    = render 'contents/news/components/prev_next'

    /Читайте также
    .section-title.__border-bottom-text
      span Читайте также
    .height-20
    .news-item-container
      - @news_all[0..4].each do |one_news|
        = render 'news_item', one_item: one_news

    = render 'templates/components/button_center', root_classes: '__black', text: 'Все новости', path: news_index_path
    .height-40