// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$output-bourbon-deprecation-warnings: false !default;

//@import "summernote";

@import "sticker";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.admin_attaches_thumb_list{
	display: inline-block;
	border: 1px solid #eee;
	padding: 5px;
	margin: 5px;
  //height: 100px;
  //width: 100px;
}

.file-block-thumb{
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.file-block{

}

.admin_attache_block{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  width: 200px;
  height: 50px;
}

.admin_attaches_list{
  overflow: hidden;
}

.file-line{
  height: 35px;
}

#header {
  background-image: none;
  background-image: none;
  border-bottom: none;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  text-shadow: none;
}

#header a, #header a:link {
  color: #fff;
  text-shadow: #2c2c2c 0 1px 0;
}

#header ul.tabs > li.current > a {
	background-color: #e6e6e6;
	color: #000;
	text-shadow: #fff 0 1px 0;
}

#header a:hover {
  color: #fff;
}
/*
#header ul.tabs > li {
  display: inline-block;
  margin-right: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.0em;
  position: relative;
}

#header ul.tabs > li ul {
  background: #f5f5f5;
  border-top-right-radius: 0px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0 1px 3px #bcbcbc;

  padding-bottom: 16px;
  padding-top: 16px;
}

a, a:hover{
  border-top-right-radius: 0px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}


#header ul.tabs > li ul li a:hover {
  background-color: #e6e6e6;
  color: #000;
  text-shadow: #fff 0 1px 0;
  border-radius: 0px;
}

#header ul.tabs > li ul li a {
  //background-color: #e6e6e6;
  color: #000;
  text-shadow: #fff 0 1px 0;

  padding-bottom: 5px;
  padding-top: 5px;
}

#header ul.tabs > li a:hover {
  background-color: #e6e6e6;
  color: #000;
  text-shadow: #fff 0 1px 0;
}

#header ul.tabs > li a {
  border-radius: 0px;

  padding-bottom: 16px;
  padding-top: 16px;
}
*/
///////////////////////////////////////// HAS NESTED

#current_user a, #logout a{
	&:hover{
		background-color: #e6e6e6 !important;
		color: #000 !important;
		text-shadow: #fff 0 1px 0 !important;
	}
}

#header ul.tabs > li.has_nested.current > a {
  background-color: #e6e6e6;
  color: #000;
  text-shadow: #fff 0 1px 0;
}

#header ul.tabs > li a:hover {
	background-color: #e6e6e6;
	color: #000;
	text-shadow: #fff 0 1px 0;
}

#header ul.tabs > li.has_nested > a:hover {
  //background: none;
  background-color: #e6e6e6;
  color: #000;
  text-shadow: #fff 0 1px 0;
}

#header ul.tabs > li ul li a:hover {
  background-color: #e6e6e6;
  color: #000;
  text-shadow: #fff 0 1px 0;
  border-radius: 0px;
}

#header ul.tabs > li ul {
  background: #7b8389;
  border-top-right-radius: 0px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
