= form_for @authority do |f|
  - if @authority.errors.any?
    #error_explanation
      h2 = "#{pluralize(@authority.errors.count, "error")} prohibited this authority from being saved:"
      ul
        - @authority.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_field :text
  .actions = f.submit
