h1 Listing authorities

table
  thead
    tr
      th Title
      th Text
      th
      th
      th

  tbody
    - @authorities.each do |authority|
      tr
        td = authority.title
        td = authority.text
        td = link_to 'Show', authority
        td = link_to 'Edit', edit_authority_path(authority)
        td = link_to 'Destroy', authority, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Authority', new_authority_path
