= form_for [:admin, @user], :html => { :enctype => "multipart/form-data" } do |f|
  - if @user.errors.any?
    #error_explanation
      h2 = "#{pluralize(@user.errors.count, "error")} prohibited this document from being saved:"
      ul
        - @user.errors.full_messages.each do |message|
          li = message

  fieldset.inputs
    ol
      li.string.input.required.stringish
        = f.label :name, "name", class: "label"
        = f.text_field :name, placeholder: 'name'
      li.string.input.required.stringish
        = f.label :email, "email", class: "label"
        = f.text_field :email, placeholder: 'email'

      li.string.input.required.stringish
        = f.label :password, "password", class: "label"
        = f.text_field :password, placeholder: 'password'
      li.string.input.required.stringish
        = f.label :password_confirmation, "password confirmation", class: "label"
        = f.text_field :password_confirmation, placeholder: 'password confirmation'

  .panel
    h3 выбор файлов
    .panel_contents
      = f.fields_for @user.attachments do |a|
        ol
          li.string.input.required.stringish
            = a.label :attach, "файлы ", class: "label"
            = a.file_field :attach, name: "user[attachments_attributes][][attach]", multiple: true
            = a.hidden_field :attacheable_type, value: @user.class.name

  = f.submit