= form_for @attachment do |f|
  - if @attachment.errors.any?
    #error_explanation
      h2 = "#{pluralize(@attachment.errors.count, "error")} prohibited this attachment from being saved:"
      ul
        - @attachment.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .actions = f.submit
