.dropdown-component
  position: relative
  display: inline-block

  .ct-dc-trigger
    cursor: pointer

    span
      color: $font-color-blue
      font-family: $font-family-second
      font-size: 1.8em
      border-bottom: 1px dotted grey

    i
      @extend .icon-caret-down-grey
      display: inline-block
      margin-left: 4px
      position: relative
      top: -2px

  ul
    display: none
    position: absolute
    z-index: 20
    top: 110%
    right: 0
    background: white
    box-shadow: 0 0 10px rgba(black, .4)
    max-height: 400px
    overflow-y: auto

    li
      padding: .5em 1.5em .5em 1em
      border-bottom: 1px solid #ccc
      cursor: pointer
      font-size: 1.1em

      a
        color: inherit
        text-decoration: none

      &:hover
        background: #f1f1f1

  &.__active
    ul
      display: block

+breakpoint(small)
  .dropdown-component
    .ct-dc-trigger
      span
        font-size: 1.2em
    ul
      li
        font-size: .9em