.inset-component
  @extend .clearfix
  margin-bottom: 40px

  .ct-left
    float: left
    width: 47%

    .ct-title
      font-family: $font-family-second
      font-size: 1.7em
      margin-bottom: 1em

    .ct-date
      display: inline-block
      font-family: $font-family-second
      color: $font-color-grey
      border-top: 1px solid $color-grey
      padding: 1em 1em 0 0
      margin-bottom: 1em
      font-size: 1.2em

    .ct-description
      font-size: 1.05em
      color: $font-color-grey-dark
      line-height: 1.4
      margin-bottom: 2.5em

    .ct-grey-block
      background: #f3f3f3
      padding: 20px

      span
        display: block
        border: 1px solid #cccccc
        padding: 20px 30px
        font-style: italic
        color: #444
        font-size: 1.3em
        line-height: 1.5

  .ct-image
    float: right
    width: 47%


  &.__left-col-padding
    .ct-left
      padding-top: .9em

+breakpoint(small)
  .inset-component
    .ct-left
      width: 70%

    .ct-image
      width: 28%

+breakpoint(xsmall)
  .inset-component
    .ct-left
      width: 100%
      margin-bottom: 30px

    .ct-image
      width: 100%