.map-component
  position: relative

  .ct-mc-map
    height: 600px

  .ct-mc-menu
    z-index: 2
    position: absolute
    top: 100px
    left: 100px
    width: 350px
    box-sizing: border-box
    box-shadow: 0 0 20px rgba(black, .3)
    padding: 30px 20px 5px 40px
    background: rgba(255,255,255, .92)
    @extend .clearfix

    .ct-mc-menu-item
      position: relative
      padding-left: 50px
      margin-bottom: 1.5em
      cursor: pointer
      &.__inactive
        opacity: .5
        color: $font-color-grey-dark
        img
          filter: grayscale(1)
      .ct-mc-menu-image
        position: absolute
        left: 0
        top: 1px
        width: 35px
        text-align: center

      span
        font-size: 1.2em
        border-bottom: 1px dotted black
      &:hover
        span
          border-bottom-color: transparent

+breakpoint(medium)
  .map-component
    .ct-mc-map
      height: 400px
    .ct-mc-menu
      position: relative
      width: auto
      box-shadow: none
      left: 0
      top: 0
      margin-bottom: 2em
      .ct-mc-menu-item
        width: 50%
        box-sizing: border-box
        float: left
        &:nth-child(odd)
          clear: left

+breakpoint(xsmall)
  .map-component
    .ct-mc-map
      height: 280px
    .ct-mc-menu
      .ct-mc-menu-item
        width: auto
        float: none

