.more-component
  text-align: center
  margin-bottom: 40px

  a
    text-decoration: none
    display: inline-block
    font-family: $font-family-second
    font-size: 1.2em

    span
      border-bottom: 1px dotted $color-grey

    i
      display: inline-block
      @extend .icon-arrow-down-black
      margin-left: 8px
      position: relative
      top: 3px