.params-component
  margin: 0 0 45px 0
  text-align: center
  position: relative
  border-top: 1px solid #d8d8d8
  border-bottom: 1px solid #d8d8d8
  padding: 1.5em 0
  min-height: 70px

  .ct-ps-search
    display: none
    position: absolute
    right: 60px
    top: 15px
    padding: 5px
    background: white
    z-index: 3
    @extend .clearfix
    &.__visible
      display: block

    input[type=text]
      display: block
      float: left
      background: none
      border: 1px solid $color-grey
      padding: .3em .7em
      width: 12em
      height: 2em
      box-shadow: none
      border-radius: 0
    button[type=submit]
      float: left
      display: inline-block
      color: white
      height: 2em
      border-radius: 0
      padding: .3em .7em
      border: none
      background: $font-color-blue
      cursor: pointer


  .ct-ps-icon
    @extend .icon-lupa
    display: inline-block
    position: absolute
    right: 0
    top: 10px
    cursor: pointer

  .ct-ps-elem
    display: inline-block
    margin: 0 20px

    .ct-ps-current, .ct-ps-link
      font-size: 1.6em
      font-family: $font-family-second

    .ct-ps-link
      text-decoration: none
      border-bottom: 1px dotted $color-grey-dark
      &:hover
        border-bottom-color: transparent

    .ct-ps-current
      position: relative
      padding-right: 15px
      &::after
        display: inline-block
        content: ''
        position: absolute
        right: 0
        top: 9px
        @extend .icon-arrow-down-grey

+breakpoint(small)
  .params-component
    padding: 1em 0 .8em 0
    margin-bottom: 20px
    min-height: 58px

    .ct-ps-search
      right: 40px
      top: 8px

    .ct-ps-icon
      background: image-url('svg/search.svg')
      width: 35px
      height: 35px

    .ct-ps-elem
      margin: 0 7px

      .ct-ps-current, .ct-ps-link
        font-size: 1.2em

      .ct-ps-current
        &::after
          top: 5px