.prev-next-component
  margin: 0 0 30px 0
  text-align: center

  a
    display: inline-block
    margin: 0 20px

    &.__prev
      @extend .icon-arrow-left-black

    &.__next
      @extend .icon-arrow-right-black