.subnav-component
  margin: 0 0 45px 0
  text-align: center
  position: relative
  border-top: 1px solid #d8d8d8
  border-bottom: 1px solid #d8d8d8
  padding: .7em 0 .2em 0
  font-size: 1.8em

  a, span
    display: inline-block
    margin: 0 20px .5em 20px
    font-family: $font-family-second

  a
    border-bottom: 1px dotted grey
    text-decoration: none

    &:hover
      border-bottom-color: transparent

  &.__no-border
    padding-top: 0
    padding-bottom: 0
    border: none
    margin-bottom: 20px

+breakpoint(small)
  .subnav-component
    margin-bottom: 20px
    font-size: 1.2em

    a, span
      margin-left: 7px
      margin-right: 7px