.top-margin-component
  background-image: image-url('header-bg.jpg?rand=1')
  background-position: center -60px
  background-size: cover
  height: 250px
  margin: 0 0 55px 0

+breakpoint(large)
  .top-margin-component
    height: 55px
    margin-bottom: 20px

//Текст становится в 3 строчки, нужно сделать по-выше блок
+breakpoint(400)
  .top-margin-component
    height: 70px