footer.footer
  .container
    .footer-inner
      .footer-column
        span © 2016 - Плёс
        span Официальный сайт
      .footer-column
        span Ивановская область, г. Плёс
        span ул. Советская, д.9
      .footer-column
        span +7(49339) 2-11-15
        span info@gorodples.ru
      .footer-column
        .to-top-icon.js-to-top
        /.inline-block
          span Дизайн
          span Васильев Николай
    
