nav.fullnav
  .close
  .container.clearfix
    a.logo href='#'
      .logo-icon
      .logo-text
        span Официальный портал
        br
        span Плесского городского поселения
    .social
      = render 'mockups/components/social'
    .clear

    /1-я колонка
    .col
      .title-1: a href='#{news_index_path}' Новости
      .height-20
      .title-1: a href='#' О городе
      .title-2: a href='#' История
      .title-2: a href='#' Плес сегодня
      .title-2: a href='#' Символика
      .title-2: a href='#' Галерея
      .title-3: a href='#' История Плеса
      .title-3: a href='#' Плес сегодня
      .title-3: a href='#{posters_path}' События

    /2-я колонка
    .col
      .title-1: a href='#' Жизнь города
      .title-2: a href='#' Афиша
      .title-2: a href='#' Жителям
      .title-2: a href='#' Гостям
      .height-10
      .title-1: a href='#' Власть
      .title-2: a href='#' Совет Плесского городского поселения
      .title-2: a href='#' Администрация Плесского городского поселения

    /3-я колонка
    .col
      .title-1: a href='#' Официально
      .title-2: a href='#' Электронная приемная
      .title-2: a href='#' Документы
      .title-2: a href='#' Статистика
      .title-2: a href='#' Почетные граждане Плеса
      .title-2: a href='#' Проверяющим организациям
      .title-2: a href='#' Противодейтсвие коррупции
      .title-2: a href='#' Внешние связи города
      .title-2: a href='#' Оценка регулирующего воздействия проектов нормативных правовых актов
      .title-2: a href='#' Вакансии