nav.nav.js-main-nav
  .fullnav-button
  .container
    .nav-head
      a.nav-brand href='#'
        .nav-logo
        .nav-title
          span Официальный портал 
          br
          span Плесского городского поселения
      .nav-toggle-btn.js-nav-controls-toggle
        span
        span
        span
    .nav-controls.js-nav-controls
      .nav-controls-top
        a.subscribe-link href='#' Подписаться на новости
        span.thanx Спасибо за подписку!
        /Форма подписки отправляется аяксом. Фронт ожидает ответ просто статус 200
        form
          input type='email' placeholder='Ваш email' required=true
        = render 'templates/components/social'
      .nav-controls-main.js-controls-main
        /Пункт-ссылка
        a.nav-item href='#{news_index_path}'
          .nav-item-title Новости
        /Пункт-дропдаун
        .nav-item.js-nav-item
          .nav-item-title.__dropdown.js-nav-item-title О городе
          .nav-item-dropdown
            = link_to "История Плеса", histories_path
            a href='#' Плес сегодня
            = link_to "Символика", symbologies_path

        .nav-item.js-nav-item
          .nav-item-title.__dropdown.js-nav-item-title Жизнь города
          .nav-menu.js-menu
            .nav-menu-wrapper
              .container
                .nav-menu-column
                  .nav-menu-column-title Афиша
                  .affiche-list.js-nav-slider
                    - unless Poster.first.nil?
                      - Poster.limit(3).each do |poster|
                        = render 'templates/partials/affiche_item', poster: poster
                    - else
                      - 3.times do
                        = render 'templates/partials/affiche_item', poster: nil
                  a.section-more-btn.__block.__black href='#{posters_path}'
                    span Все события
                .nav-menu-column
                  .nav-menu-column-title Жителям
                  .nav-menu-column-category-list
                    a.nav-menu-column-category-item href='#' Жкх
                    a.nav-menu-column-category-item href='#' Образование
                    a.nav-menu-column-category-item href='#' Здравохранение
                    a.nav-menu-column-category-item href='#' Благоустройство
                    a.nav-menu-column-category-item href='#' Образование
                    a.nav-menu-column-category-item href='#' Здравохранение
                  .nav-menu-column-subtitle Электронная приемная
                  .nav-menu-column-caption Прием обращений граждан и организаций
                  a.section-more-btn.__black.__mail.__block href='#' 
                    span Гражданам
                .nav-menu-column
                  .nav-menu-column-title Гостям
                  .nav-menu-column-category-list
                    a.nav-menu-column-category-item href='#' Где остановиться
                    a.nav-menu-column-category-item href='#' Где поесть
                    a.nav-menu-column-category-item href='#' Что посмотреть
                  .nav-menu-column-subtitle Сегодня актуально
                  .nav-menu-column-event
                    .nav-menu-column-event-date 25 декабря в 15:00
                    a.nav-menu-column-event-title href='#' Декабрьский вечер искусств памяти А.П. Васильевой
                  .nav-menu-column-event
                    .nav-menu-column-event-date 25 декабря в 15:00
                    a.nav-menu-column-event-title href='#' Декабрьский вечер искусств памяти А.П. Васильевой
                .nav-menu-column
                  /Такой заголовок может быть просто текстом или ссылкой
                    Например a.nav-menu-column-title href='#' Галерея
                  .nav-menu-column-title Галерея
                  .nav-menu-column-category-list
                    a.nav-menu-column-category-item href='#' Видео
                    a.nav-menu-column-category-item href='#' Фото
                  .nav-menu-column-subtitle Фото дня
                  .nav-menu-column-image
                    /Размер изображения 250 в ширину
                    = image_tag("gallery/gallery-item1.jpg")
                  /Заголовок-ссылка
                  a.nav-menu-column-title href='#' Навигатор

        .nav-item.js-nav-item
          .nav-item-title.__dropdown.js-nav-item-title Власть
          .nav-item-dropdown
            a href='#' Совет
            a href='#' Администрация
        a.nav-item href='#{officials_path}'
          .nav-item-title Официально
    
