section.official-section
  .container
    .section-title Официально
    .official-section-content
      .official-section-column
        .official-section-column-title Электронная приемная
        p.official-section-column-desc Прием обращений граждан и организаций
        a.section-more-btn.__black.__mail.__block href='#'
          span Гражданам
        a.section-more-btn.__black.__mail.__block href='#'
          span Организациям
        a.official-section-column-link href="#" Проверить статус обращения гражданина
      .official-section-column
        .official-section-column-title Проверяющим организациям
        a.official-section-column-link href="#" Устав города Плёс
        a.official-section-column-link href="#" Стратегический план разваития Плёса
        a.official-section-column-link href="#" Постановления
        a.official-section-column-link href="#" Постановления
        a.official-section-column-link href="#" Стратегический план разваития Плёса
      .official-section-column
        .official-section-column-title Внешние связи города
        a.official-section-column-link href="#" Устав города Плёс
        a.official-section-column-link href="#" Стратегический план разваития Плёса
        a.official-section-column-link href="#" Постановления
        a.official-section-column-link href="#" Постановления
        a.official-section-column-link href="#" Стратегический план разваития Плёса
      .official-section-column
        .official-section-column-title Документы
        a.official-section-column-link href="#" Устав города Плёс
        a.official-section-column-link href="#" Стратегический план разваития Плёса
        a.official-section-column-link href="#" Постановления
        a.official-section-column-link href="#" Постановления
        a.official-section-column-link href="#" Стратегический план разваития Плёса
