ruby:
  # бекграунд может ставится на внешний или внутренний блок
  # по-умолчанию ставится на внутренний, но на на странице Афиша нужно ставить на
  # внешний из-за бага в сафари
  # размер изображения - 500 в ширину
  if defined? bg_on_outer
    item_bg = "background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(#{asset_path('affiche1.jpg')})"
    inner_bg = ''
  else
    item_bg = ''
    inner_bg = "background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(#{asset_path('affiche1.jpg')})"
  end

.affiche-item style=item_bg
  .affiche-item-inner style=inner_bg
    .affiche-item-info
      .affiche-item-date 27 декабря
      .affiche-item-time 19:00
      .affiche-item-title = lorem_ipsum rand 200
      a.affiche-item-arrow href='#' &rarr;