h1 Listing images

table
  thead
    tr
      th Name
      th Title
      th Text
      th
      th
      th

  tbody
    - @images.each do |image|
      tr
        td = image.name
        td = image.title
        td = image.text
        td = link_to 'Show', image
        td = link_to 'Edit', edit_image_path(image)
        td = link_to 'Destroy', image, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Image', new_image_path
