doctype html
html
  head
    meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0'
    title
      |Ples
      = yield(:title)
    = custom_stylesheet_tag namespace: 'desktop', filename: 'app'
    = csrf_meta_tags
  body.site-container
    = render 'layouts/partials_mockups/fullnav'
    = render 'layouts/partials_mockups/nav'

    /На всех страницах кроме главной нужно вывести блок margin_top
    - unless params[:controller] == 'mockups' && params[:action] == 'index'
      = render 'mockups/components/margin_top'

    = yield

    /На всех страницах кроме главной нужно вывести рандомный блок внизу
    - unless params[:controller] == 'mockups' && params[:action] == 'index'
      - rnd = rand(4)
      - if rnd == 0
        = render 'mockups/partials/affiche'
      - if rnd == 1
        = render 'mockups/partials/history'
      - if rnd == 2
        = render 'mockups/partials/news'
      - if rnd == 3
        = render 'mockups/components/gallery', root_classes: '__teaser-on-mobile', teaser_on_mobile: true

    = render 'layouts/partials_mockups/official'
    = render 'layouts/partials_mockups/footer'

    script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"
    = javascript_include_tag 'application'
