doctype html
html
  head
    meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0'
    title Ples
    = custom_stylesheet_tag namespace: 'desktop', filename: 'app'
    = csrf_meta_tags
  body.site-container
    = render 'layouts/partials/fullnav'
    = render 'layouts/partials/nav'

    /На всех страницах кроме главной нужно вывести блок margin_top
    - unless params[:controller] == 'main' && params[:action] == 'index'
      = render '/templates/components/margin_top'
    = yield

    /На всех страницах кроме главной нужно вывести рандомный блок внизу
    - unless params[:controller] == 'main' && params[:action] == 'index'
      br
      - rnd = rand(4)
      - if rnd == 0
        = render '/templates/partials/affiche'
      - if rnd == 1
        = render '/templates/partials/history'
      - if rnd == 2
        = render '/templates/partials/news'
      - if rnd == 3
        = render '/templates/components/gallery'

    = render 'layouts/partials/official'
    = render 'layouts/partials/footer'

    script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"
    = javascript_include_tag 'application'