<!DOCTYPE html>
<html>
<head>
  <title>Ples</title>
  <%= custom_stylesheet_tag namespace: 'desktop', filename: 'app' %>
  <meta name="viewport" content="width=1024">
  <%= csrf_meta_tags %>
</head>
<body class="landing">

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
          javascript:
          (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
              try {
                w.yaCounter39633360 = new Ya.Metrika({
                  id:39633360,
                  clickmap:true,
                  trackLinks:true,
                  accurateTrackBounce:true});
              } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); } })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/39633360" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</body>
</html>
