= form_for @video do |f|
  - if @video.errors.any?
    #error_explanation
      h2 = "#{pluralize(@video.errors.count, "error")} prohibited this video from being saved:"
      ul
        - @video.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_field :text
  .actions = f.submit
